[2014-09-18 07:08] jaswrks opened #1 "Based on Subscribe to Comments Reloaded"
This plugin will be based (in part) on the fantastic work by:
https://wordpress.org/plugins/subscribe-to-comments-reloaded/
- [x] Create plugin framework.
- [x] Create menu pages, blank for now.
- [x] Identify hooks/filters needed by this plugin.
- [x] Setup the database structure needed by this plugin.
- [x] ... additional items coming soon.

[2014-09-18 07:14] jaswsinc opened #2 "Lite vs. Pro Features"
I'd like to think about what features will be made available only in the pro version.

Current list of ideas...

- [x] Subscriber management via Dashboard.
- [x] UI for statistics, to include graphs.
- [x] Integration w/ Amazon SES or another remote SMTP server.
- [x] Customizable email header/footer.

[2014-09-18 08:26] jaswrks opened #3 "Create Logo/Icon for Comment Mail"
![wp-comment-subs-icon](https://cloud.githubusercontent.com/assets/1563559/4317379/92f1ea54-3f12-11e4-9e41-9d4bcc84ee72.png)

[2014-09-18 11:44] jaswrks opened #4 "Identify Shortcomings in Subscribe to Comments Reloaded"
I'd like to identify the shortcomings in the current implementation of Subscribe to Comments Reloaded. I have only tested this plugin, I have not used it extensively on a production site.
- [x] Organization of codebase.
- [x] Improve OOP design/structure.
- [x] Use dedicated database table for greater flexibility.
- [x] Do a better job of handling mass email blasts.

[2014-09-18 15:54] jaswrks opened #5 "Activation Routine; Database Table Creation"
We need a new class member that creates the following database table whenever the plugin is activated.

[code]

[2014-09-18 18:02] raamdev opened #6 "Change project name to CommentMail™?"
_WP Comment Subs_ doesn't seem as attractive as _WP Comment Subscriptions_. Is there any particular reason you used 'Subs' instead of 'Subscriptions'?

I previously had the `wp-comment-subscriptions` slug on WordPress.org. I requested that the plugin be deleted from WordPress.org when I halted development and it looks like no such plugin with that slug currently exists, so maybe it would be a good

[2014-09-18 18:54] raamdev opened #7 "Feature Request: Import data from Subscribe to Comments Reloaded"
It would be great to provide support for importing existing subscription data from [Subscribe to Comments Reloaded](https://wordpress.org/plugins/subscribe-to-comments-reloaded/).

Subscribe to Comments Reloaded currently does not keep track of the Comment ID associated with each subscription; it only keeps track of the Post ID where the comment subscription exists. We'll need to find a way of wor

[2014-09-20 05:13] jaswrks opened #8 "Feature Request: Reply to Comment via Email"
Forked from https://github.com/websharks/wp-comment-subs/issues/2#issuecomment-56086220

@raamdev writes...

@jaswsinc writes...

@raamdev writes...

[2014-09-20 05:34] jaswrks opened #9 "Feature Request: Remote SMTP Server Config. Options"
Integration w/ Amazon SES or another remote SMTP server.
~ forked from https://github.com/websharks/wp-comment-subs/issues/4#issuecomment-56205973

@raamdev writes...

@jaswsinc writes...

[2014-09-21 17:09] #6 closed, assigned to nobody

[2014-09-21 17:40] #5 closed, assigned to nobody

[2014-09-22 22:04] jaswrks opened #11 "Create Site @ comment-mail.com"
I've registered www.comment-mail.com. This currently redirects to the GitHub project. Eventually, I'd like to have a site at comment-mail.com with KB articles, FAQs, screenshots, lite vs. pro features list. We could also sell the pro version of Comment Mail™ here.
- [x] Create DigitalOcean Droplet; (private: `10.128.95.63`, public: `162.243.123.37`)
- [x] Update DNS records for comment-mail.com
-

[2014-09-26 20:12] jaswrks opened #12 "Framework: Use `uninstall.php` Stub Loader"
As detailed in [this QC issue](https://github.com/websharks/quick-cache/issues/334) we need to update the framework for Comment Mail also, so that `uninstall.php` will check for PHP v5.3+ too.

[2014-09-26 20:26] #12 closed, assigned to nobody

[2014-09-26 20:45] jaswrks opened #14 "Create PHP Autoloader Handler"
I'd like to have a PHP autoload handler in Comment Mail so that we can avoid unnecessary `require`/`include` calls spread throughout the codebase.

Referencing: http://php.net/manual/en/function.spl-autoload-register.php

[2014-09-27 00:19] #9 closed, assigned to jaswrks

[2014-09-27 00:53] #14 closed, assigned to jaswrks

[2014-09-27 00:59] jaswrks opened #17 "Implement Action Hooks/Filters"
#### A fork of https://github.com/websharks/comment-mail/issues/1. I will use this issue to track progress on the initial integration with WordPress via hooks/filters referenced below.
- `comment_form` hook: https://github.com/WordPress/WordPress/blob/809baf442b0bd4aaedbbc06de8d6d14408a73d7b/wp-includes/theme-compat/comments.php#L94
- `comment_post` hook: https://github.com/WordPress/WordPress/blo

[2014-09-30 06:20] #17 closed, assigned to nobody

[2014-10-01 20:27] jaswrks opened #22 "Build Template Files"
While working on several portions of Comment Mail, I created several template files that can be overridden by a theme, or through Comment Mail options. These template files exist inside the `includes/templates` directory, but they are currently empty.
- [x] Add code for the default set of email templates.
- [x] Add code for the default set of site templates.
- [ ] ~~Supply two sets of templates. S

[2014-10-01 20:36] jaswrks opened #23 "Add Reply-To Support"
We need an option that will allow a site owner to configure a separate `Reply-To:` email header, so that email replies can either be ignored (i.e. with a `noreply@` address) or have them piped into what might be possible in a future release of Comment Mail — email replies to comments. See also: https://github.com/websharks/comment-mail/issues/8

[2014-10-04 10:24] #7 closed, assigned to nobody

[2014-10-06 00:02] #23 closed, assigned to nobody

[2014-10-06 00:04] #1 closed, assigned to nobody

[2014-10-06 00:04] #4 closed, assigned to nobody

[2014-10-06 00:15] jaswrks opened #25 "Comment Mail UI / Menu Pages"
I need to figure out what the best approach is for the Comment Mail UI. Since this plugin will introduce an entirely new dataset for WordPress, it would be nice if that dataset could be navigated using the same table layout that WordPress uses for Posts/Comments. On the other hand, I'm not wild about working within the confines of "the WordPress way" when it comes to the UI. I'm a little concerned

[2014-10-06 00:32] jaswrks opened #26 "Comment Mail UI / Subscription Management"
In addition to the [back-end UI (i.e. menu pages)](https://github.com/websharks/comment-mail/issues/25) we also need a UI for a user to manage their current subscriptions. Much of this is already in place, but the subscriber management panel still needs work. I'd like to try and consolidate some of the code for this, if possible; with the same code that we'll use to build a broader set of tools fo

[2014-10-06 04:38] #11 closed, assigned to nobody

[2014-10-08 01:45] jaswrks opened #27 "UI Component: Search for Subscriber"
@raamdev writes from https://github.com/websharks/comment-mail/issues/25 ...

[2014-10-08 01:46] jaswrks opened #28 "UI Component: Subscribers Meta Box in Post Editing Station"
@raamdev writes from #25 ...

[2014-11-03 19:51] #26 closed, assigned to nobody

[2014-11-03 20:25] #22 closed, assigned to nobody

[2014-11-03 20:26] #27 closed, assigned to nobody

[2014-11-03 20:26] #28 closed, assigned to nobody

[2014-11-09 22:28] #25 closed, assigned to nobody

[2014-11-09 22:34] #3 closed, assigned to nobody

[2014-11-11 21:09] jaswrks opened #41 "SSO Integrations; Fork of #2"
This is a fork of #2 where "SSO integrations with Twitter/Facebook/Google/OpenID etc." was mentioned. I'd like to make this a priority now that we're in beta. If anyone would like to help me work on this, please let me know and I'll offer some direction.

[2014-11-11 21:10] jaswrks opened #42 "Large Post Meta Box"
`/comment-mail/includes/classes/post-large-meta-box.php` is unfinished. The idea for this was to present either a condensed subscription management panel that will be displayed in the post editing station; or perhaps a statistical overview with charts regarding details pertinent to that specific post. Let me know if either of you'd like to work on this.

The meta box hook is already in place, and

[2014-11-11 21:11] jaswrks opened #43 "Option to Disable Event Logging"
I'd like to add an option that will allow the subscription event log to be disabled on sites where that is desirable; e.g. if a site owner really just doesn't give a shit and also doesn't intend to review any stats. These could be disabled if that's the choice a site owner wants to make. I left a TODO item [here](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/plugin.inc.php

[2014-11-11 21:16] jaswsinc opened #44 "Lite Version Strip Show"
:girl:  Live nudes; we need a strip show for Comment Mail™ Lite ~ lol

The current beta release is intended to become the pro version. What we need to do before a release can occur, is to strip down the existing beta version after deciding which features should stay, and which features could be reserved for the pro release.

Please help me by suggesting portions of the UI that could be disabled in

[2014-11-11 21:41] jaswrks opened #45 "More Statistical View Options/Charts"
The initial beta release introduces a few statistical view types, but there is actually a LOT more data that we can analyze and chart out for a site owner. I'd like to work on ideas for new charts/views/options.

[2014-11-12 01:47] raamdev opened #46 "Difficulity Reading Nav Menu on Options Page"
The nav menu on the options page has inactive menu items set to `opacity: .25`, which dims them out quite a bit, too much in my opinion. When I loaded that page for the first time, my first thought was that those menu items were _disabled_:

![2014-11-11_20-42-18](https://cloud.githubusercontent.com/assets/53005/5003936/a1ba4792-69e3-11e4-9a33-f75290506f23.png)

Since we already highlight the curr

[2014-11-12 17:46] jaswrks opened #47 "Test StCR Importer"
What will be important to test is a database with more than 45 StCR subscriptions currently. This will trigger a child processing fork in the importer, and that's something that needs to be tested still. So far my import tests have been on just a few, and the child process was not necessary for it to work. With a larger set of StCR subscriptions, there may still be bugs there. cc @reedyseth @raamd

[2014-11-13 21:22] #46 closed, assigned to nobody

[2014-11-13 21:24] #43 closed, assigned to nobody

[2014-11-15 00:00] #45 closed, assigned to nobody

[2014-11-15 01:12] jaswrks opened #48 "Add Support for Geo Location Tracking"
I'd like to collect (if geo location tracking is enabled); each subscriber's region and country codes.

[2014-11-15 09:05] #48 closed, assigned to nobody

[2014-11-15 16:22] jaswrks opened #49 "`install_plugins`; Compat. w/ DISALLOW_FILE_MODS"
May need to change [this line](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/upgrader.php#L63) to allow the auto-update notice to be shown even when `DISALLOW_FILE_MODS=TRUE` in `/wp-config.php`.

[2014-11-16 02:17] #49 closed, assigned to nobody

[2014-11-18 19:09] #8 closed, assigned to nobody

[2014-11-24 10:03] #41 closed, assigned to nobody

[2014-11-25 08:55] jaswrks opened #53 "Add Template Notes/Description"
It would be nice if there were some notes/pointers for each of the editable templates.

![2014-11-24_23-55-21](https://cloud.githubusercontent.com/assets/1563559/5180205/6012bc14-7435-11e4-8a1d-94e6db2a5dc8.png)

[2014-11-25 12:25] #53 closed, assigned to nobody

[2014-11-25 19:56] raamdev opened #54 "Make "Subscr. Type" Column Sortable"
@raamdev writes...

@jaswsinc writes...

[2014-11-25 20:15] raamdev opened #55 "Prevent Post ID and Comment ID changes when Editing a Subscription"
@raamdev writes...

@jaswsinc writes...

@raamdev writes...

[2014-11-26 11:29] jaswrks opened #56 "Clarify Overwritten Events; Too Confusing"
@raamdev writes...

I can see where this may create some confusion. There's not enough information in the event log to really make this clear. Well, there is enough information in the log, but it's not being displayed in a way that makes sense I think.

---

@raamdev Regarding overwritten subscriptions. Comment Mail's subscriptions DB table is designed to guard against any sort of duplicate subscr

[2014-11-27 16:54] raamdev opened #57 "Move Post Meta Box to a Lower Priority"
The Comment Mail Post Meta Box currently defaults to appearing _above_ the Publish meta box when editing or creating a new Post:

![2014-11-27_11-52-41](https://cloud.githubusercontent.com/assets/53005/5219933/04de0148-762c-11e4-9138-c5fab3243c56.png)

The Post Meta Box should be moved to a lower priority so that it doesn't appear above everything else, especially not above the Publish meta box, w

[2014-11-28 09:58] #54 closed, assigned to nobody

[2014-11-29 00:23] jaswrks opened #58 "Sub Event Log Should Indicate What Changed on `updated` Event"
When an event type is `updated`, we show the Status Before and the Status After. That was the initial purpose of the sub. event log, but it has already matured into more than this, where it's possible for an update event to be logged for any sort of change.

The sub event log needs to include all of the before/after data columns under Screen Options, to properly reflect the data that is stored in

[2014-11-29 01:42] #56 closed, assigned to nobody

[2014-11-29 08:17] #58 closed, assigned to nobody

[2014-11-29 08:27] jaswrks opened #59 "Queue Event Log Enhancements"
I'd like to work at adding some of the same enhancements; i.e. details/pointers to the Queue Event Log that we now have in the Sub Event Log after the work in https://github.com/websharks/comment-mail/issues/58

[2014-11-29 08:46] jaswrks opened #60 "Geo IP Fields Hidden Until Enabled"
These two fields should be hidden unless and until Geo IP tracking is enabled; it is disabled by default, and these will not appear in the lite/pro versions of the software. Enterprise only.

![2014-11-28_23-45-32](https://cloud.githubusercontent.com/assets/1563559/5234012/ca6ed248-7758-11e4-806e-48a277890a91.png)

[2014-11-29 09:00] #60 closed, assigned to nobody

[2014-11-29 11:25] #59 closed, assigned to nobody

[2014-11-29 12:11] jaswrks opened #61 "Feature Request: Admin Digest Email for Comments Awaiting Moderation"
@raamdev writes... from https://github.com/websharks/comment-mail/issues/2#issuecomment-59155386

[2014-11-29 12:21] jaswrks opened #62 "Simpler Templates? Second Set? What to Do?"
@raamdev writes from https://github.com/websharks/comment-mail/issues/44#issuecomment-62660953

On this same topic, I have another important observation:

The **Email Templates** and **Site Templates** all require programming knowledge to edit. For example, let's say I want to change the Comment Notification email subject line and body template. In Subscribe to Comments Reloaded, this is what I se

[2014-11-30 05:58] raamdev opened #63 "Pro/Enterprise Preview for Lite version"
We need to add a Pro/Enterprise Preview feature to the Lite version of Comment Mail to help showcase the available Pro/Enterprise features.

Issue #44 must be completed before work on this issue can begin.

[2014-11-30 06:08] raamdev opened #64 "Confirm vs Subscribed in the UI; confusing"
When editing a subscription, I have `subscribed` as an option for the Status:

![2014-11-30_01-01-44](https://cloud.githubusercontent.com/assets/53005/5236943/bc48981e-782c-11e4-8488-3f67cb460c31.png)

However, if I trash a subscription, the option available to return that subscription to a subscribed state is referred to as `Confirm`:

![2014-11-30_01-03-04](https://cloud.githubusercontent.com/as

[2014-11-30 07:05] raamdev opened #65 "Decrease default Subscriptions Per Page count"
The default Subscriptions Per Page in **Comment Mail → Subscriptions** is set to `50`. I noticed that loading 50 subscriptions takes a bit of time, noticably more time than say loading the WordPress Comments page (which has a default of `20` Per Page).

![2014-11-30_01-59-04](https://cloud.githubusercontent.com/assets/53005/5237061/1f83b46a-7835-11e4-8cc8-be93bbbf45fd.png)

I recommend decreasing

[2014-11-30 07:20] raamdev opened #66 "Simplify Subscriptions row data"
The rows of data in the Subscriptions list contains some data that is unnecessary and which results in a very "noisy" table of data, especially when you have lots of subscriptions.

We could remove the ID #'s, as those would only be useful to developers or someone needing to reference something in the database:

![2014-11-30_02-06-32](https://cloud.githubusercontent.com/assets/53005/5237068/0108c3

[2014-11-30 11:57] #65 closed, assigned to jaswrks

[2014-11-30 12:06] #64 closed, assigned to jaswrks

[2014-11-30 21:46] raamdev opened #67 "Missing a 'Clear Search' button on Subscriptions page when searching"
When doing a search on the Subscriptions page, there's no obvious way to _clear_ the search. We should add a `[clear search]` link next to the `[edit]` link:

![2014-11-30_16-43-22](https://cloud.githubusercontent.com/assets/53005/5239464/5749dc0a-78b0-11e4-9712-577c69fba605.png)
## Next Actions / Project Outline

See: https://quire.io/w/Yx2VYsoJkIs4L6P3pfFuVDVg/Improve_URL_utility_...

[2014-12-01 01:57] #66 closed, assigned to nobody

[2014-12-05 18:17] jaswrks opened #71 "Document Shortcodes Used in Simple Templates"
A fork of https://github.com/websharks/comment-mail/issues/62

![2014-12-05_09-16-09](https://cloud.githubusercontent.com/assets/1563559/5320539/7fab16e8-7c5f-11e4-84d2-7ccf66d869ad.png)

[2014-12-05 18:19] #62 closed, assigned to jaswrks

[2014-12-05 18:30] #47 closed, assigned to nobody

[2014-12-06 18:16] #71 closed, assigned to nobody

[2014-12-10 01:44] raamdev opened #72 "Use Proper Case for Statuses and Events on UI"
While it's fine to use all lowercase for the statuses and events in the database (e.g., `subscribed`, `unsubscribed`, `trashed`, `inserted`, etc.) it would be nice to use proper case (`Subscribed`, `Unsubscribed`, `Trashed`, `Inserted`, etc.) on the front-end UI.

It feels a bit out of place to see everything else in the Subscriptions table and the Event Log using proper case except for the status

[2014-12-14 09:27] jaswsinc opened #73 "SSO to Show Service Connection in Dashboard"
The SSO integration should show an indication of which SSO service is connected to a user's account from the Dashboard so that site owners can know what to tell a user if they have trouble accessing their account.

![2014-12-14_00-27-10](https://cloud.githubusercontent.com/assets/1563559/5426938/01935976-8328-11e4-81d4-a7cbb4a0e92b.png)

[2014-12-31 03:05] raamdev opened #74 "MySQL tables SQL 'COMMENT' unsupported?"
@jaswsinc Regarding the issue I discovered while attempting to activate Comment Mail v141206-beta9 on raam.org, running MySQL v5.1.73:

I noticed the SQL output in that error message was getting cut off after `COMMENT 'Post ID from the in` and that led me to try removing any `COMMENT`'s that contain backticks. Sure enough, that started to fix things, however I continued running into errors that al

[2014-12-31 21:23] #74 closed, assigned to nobody

[2015-01-01 04:55] jaswsinc commented on #74
Great. Thank you for the help on this :-)

[2015-02-09 16:49] jmslbam opened #75 "Possible release / Beta testing?"
Hi everyone!

I came here after following the trail of STCR and @raamdev and I am pleased too see a possible alternative.

A client of ours is in need of a modern solution of STCR and would like to purchase a pro version when released. Do you have a roadmap / estimation of when it could be tested / tried?

I could not test the current Beta plugin because of all the git submodules being private...

[2015-02-09 17:37] raamdev commented on #75
@jmslbam Thank you for showing interest. :-) We currently have our internal milestone set for a March 1st initial public release. But that's an internal milestone date, so no promises!

I'm not sure if we have a beta mailing list setup for this project yet that you could get on to be notified when a beta is available. @jaswsinc is the lead on this project, so he would be the one to ask.

@jaswsinc

[2015-02-09 23:18] jaswsinc commented on #75
No, not yet. I'm adding this to my list for the week. I'll follow-up here when it's ready :-) Thanks!

[2015-02-09 23:45] jaswsinc commented on #75
@jmslbam Mailing list is here :-) http://eepurl.com/bdRcLr

[2015-02-09 23:47] raamdev commented on #75
Woohoo! Thanks @jaswsinc. :-)

@jmslbam I'm going to close this Issue, but please do get on that mailing list so that we can contact you as soon as something is ready for testing. :-)

[2015-02-09 23:47] #75 closed

[2015-02-10 11:31] jmslbam commented on #75
Aight! Thanks for the mailing list, subscribed to it! And thank you for the response! Closing this one is fine. Good luck with development!

[2015-03-25 01:19] jaswsinc opened #76 "Security Issue w/ User ID to Emails"
Accessing the Subscriptions Summary page can result in the exposure of others email addresses whenever the `key` is not associated with a user ID and there are other email addresses in the database with a `user_id` of `0`.

Referencing bug fix here: https://github.com/websharks/comment-mail/commit/27764b521d9ba9ac4a3aecb80037090a197906f0

Thank you @raamdev for reporting this!

[2015-03-25 01:19] #76 closed

[2015-03-25 01:34] raamdev commented on #76
@jaswsinc Glad I was able to catch this one! :-) I discovered it at random, clicking a link I didn't even need to click but wondered, "Hmm, what will happen if I click this?"

[2015-03-25 02:37] raamdev opened #77 "Improve Default Comment Reply Notification Template"
The current default Comment Mail "New comment" notification email feels way too busy and there are several things I feel could greatly improve it.

---

by @jaswsinc See Next Actions / Project Outline: https://quire.io/w/kx2VYsoJkIs4L6P3pfFuVDVg/Understanding_Commen

---

Here's an example of the current default new comment reply notification email:

## As seen from GMail

![2015-03-24_21-43-32](h

[2015-04-02 02:35] jaswsinc opened #78 "Test Table Changes In Upcoming WP Release"
Referencing: https://make.wordpress.org/core/2015/04/02/the-utf8mb4-upgrade/

[2015-04-08 16:08] raamdev commented on #78
Referencing this comment on the aforementioned post that includes a bug report: https://make.wordpress.org/core/2015/04/02/the-utf8mb4-upgrade/#comment-25443

We should make sure that we manually specify the index length as 191 in any MySQL CREATE TABLE statements that we write for VARCHARs.

[2015-05-15 07:42] jaswsinc opened #79 "Unable to set `name="search-submit"` attribute."
It appears that the table class (which CM extends) has changed in the most recent versions of WordPress. This needs to be updated before additional tests can be completed.

![2015-05-14_23-41-04](https://cloud.githubusercontent.com/assets/1563559/7648749/cf5be3dc-fa92-11e4-8f25-d464ad83cff9.png)

[2015-05-27 20:01] raamdev opened #80 "Finalize StCR → Comment Mail Migration Process"
This GitHub Issue will be used to track any final work necessary to finalize the StCR → Comment Mail migration process. The following tasks need to be completed (this checklist will be updated if more work is discovered to be necessary):

- [x] Test StCR → Comment Mail migration process by installing Comment Mail on a site that has StCR running with lots of existing subscriptions.
- [x] Confirm th

[2015-05-27 20:10] raamdev commented on #80
@websharks/comment-mail-team Completing work on this GitHub Issue will depend on the completion of GitHub Issues https://github.com/websharks/comment-mail/issues/44 and https://github.com/websharks/comment-mail/issues/1 (stripping the Lite version from the Pro version, so that the Lite version can be used for testing here).

What's important is that we don't start thoroughly testing the StCR → Com

[2015-05-27 20:44] Reedyseth commented on #80
@raamdev I would also like to add an additional point. I guess Comment Mail has the migration process for an old version of StCR.

* Does Comment Mail import any StCR options, including **the latest ones**?

[2015-05-28 02:27] kristineds opened #81 "Finalize tagline for Comment Mail banner"
This GitHub Issue will be used to discuss how we could improve the tagline on the Comment Mail banner and come up with something better. The current tagline is **"A Powerful Comment Subscription Plugin for WordPress".**

![banner_v7_editedtagline](https://cloud.githubusercontent.com/assets/7514953/7851516/ec975d96-0523-11e5-85af-edb4f3ee6010.png)

[2015-05-28 08:04] #81 closed

[2015-05-28 19:59] raamdev commented on #80
@Reedyseth That's a great point. I forgot to mention that. StCR has changed a bit since the StCR import routines in Comment Mail were written, so we'll need to do a full review of this again once we have a Lite version of Comment Mail we can start testing with. I'm going to update the checklist above to mention this.

[2015-05-29 12:12] #63 closed

[2015-05-29 12:12] #2 closed

[2015-05-29 12:12] #44 closed

[2015-05-29 12:18] jaswsinc commented on #80
Referencing a dump of StrCR options:

[code]

[2015-05-29 14:36] Reedyseth commented on #80
Great, if you have any question with an option I would be happy to clarify it !

[2015-05-29 14:38] Reedyseth commented on #80
@raamdev Thanks !

[2015-05-29 14:38] jaswsinc commented on #80
![2015-05-29_06-37-21](https://cloud.githubusercontent.com/assets/1563559/7884885/4b9b21ac-05cd-11e5-8494-5c1d2fec0efb.png)

[2015-05-29 14:41] Reedyseth commented on #80
Just to bring a point that I mention before. The first time that I run the importation routing the number of subscriptions did not match, so after we have the lite version ready to test I will take this task to confirm it.

[2015-05-29 14:44] jaswsinc commented on #80
Referencing StCR transitioning helper. Needs review:
https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/stcr.php

[2015-05-29 14:48] Reedyseth commented on #80
@jaswsinc  Cool, I am on it, no need to wait for the Striping !

[2015-05-29 15:06] jaswsinc commented on #80
Great! Just let me know if you have any trouble or find a bug. Thank you :-)

[2015-05-29 15:06] jaswsinc commented on #80
Awesome! Thanks @Reedyseth

[2015-05-29 15:09] jaswsinc commented on #78
Thank you. I just reviewed CM against this issue. I'm not seeing any immediate problem. We don't use any indexes against the core tables, and all of the custom CM tables were created with a `utf8` charset and tested as such. I'm going to leave this open for future consideration though. Just in case we decide to upgrade the CM tables to `utf8mb4 `.

[2015-05-29 15:10] #79 closed

[2015-05-29 15:10] jaswsinc commented on #77
Thank you. I most work on this during the soft launch and try to improve before the official launch.

[2015-05-29 15:15] jaswsinc commented on #80
@Reedyseth Feel free to submit a pull request for any changes/improvements you'd like to make there.

[2015-05-29 15:58] jaswsinc opened #82 "Function Name Must Be String (Possible 5.3 Compat. Issue)"
~ Tested against PHP v5.3.

![2015-05-29_07-57-19](https://cloud.githubusercontent.com/assets/1563559/7886721/6e71dd82-05d8-11e5-915b-ec90609131be.png)

[2015-05-29 16:00] jaswsinc opened #83 "Broken Link in Pro Preview [learn more]"
![2015-05-29_08-00-05](https://cloud.githubusercontent.com/assets/1563559/7886784/c8da98d6-05d8-11e5-8d31-02b802279c86.png)

[2015-05-29 16:11] jaswsinc commented on #82
Confirmed. This is a PHP v5.3 issue.

[2015-05-29 16:16] jaswsinc opened #84 "Parsedown Library Mismatch After Submodule Updates"

[2015-05-29 16:36] raamdev commented on #80
Adding the following todo item to the checklist above ↑:

- Verify that it's possible to skip the StCR subscribers import process mentioned in the Dashboard message after installing Comment Mail, but choose to run the import process later (after the Dashboard message has been dismissed); i.e., I'm assuming (but need to verify) that the Import/Export tab shows the StCR import options if you skip th

[2015-05-29 16:45] Reedyseth commented on #80
@jaswsinc RIght now I have a clone of the repo, what would be better, create a branch and from that branch submit the pull request or fork the repo ?

[2015-05-29 16:56] raamdev commented on #80
You can use the clone and create a new branch called `feature/80` (we use the number of the related GitHub issue). Then you can push the `feature/80` branch and submit a Pull Request when you're ready. :-)

[2015-05-29 16:58] jaswsinc commented on #80
:+1:

[2015-05-29 16:59] Reedyseth commented on #80
Cool, Thanks you !

[2015-05-29 17:54] jaswsinc commented on #80
No warning, but if you attempt it again it simply returns `0` imported, because they were already imported. However, if you Restore Default Options, it will allow you to do it a second time. That can lead to duplicate subscriptions though, so it's just good to watch out for that.

Yes, you can always visit the Import tab, and, in addition to that notice, there is also a blinking navigation item wh

[2015-05-29 17:55] jaswsinc commented on #80
I read over the changelog for StCR. Has anything changed in the storage of subscribers and/or their status flags?

[2015-05-29 18:08] #84 closed

[2015-05-29 18:08] #83 closed

[2015-05-29 18:09] raamdev commented on #80
I don't believe so, no, but I would want Israel to confirm that, as he's worked on the past few StCR releases.

[2015-05-29 18:53] Reedyseth commented on #80
Nope, the flags remain the same, no changes on that part. Something that was added is a new table to store the subscribers email addresses and a unique key for that email. This is due to the security issue by google, they call it PII, but it will not affect the subscribers information on the `postmeta` table.

[2015-05-29 20:55] #82 closed

[2015-05-29 20:56] jaswsinc commented on #80
Copy that. I remember you mentioning this before. So the unique key is what's being stored in the database then, not the actual subscriptions. Is that right? Sorry, just making sure I understand :-)

[2015-06-03 16:18] jaswsinc opened #85 "Full Security Review"
We need to do a full security review of Comment Mail prior to its initial release.

In particular, we need to test these areas:

- Add a new subscription from the front-end.
- Delete all subscriptions from the front-end.
- Subscription summary page on the front-end. A security issue was found here previously, and I believe there is still room for security hardening here; i.e., another look is in o

[2015-06-03 18:02] raamdev commented on #85
@jaswsinc Copy that. I'll test a few of these things as part of my review of Comment Mail Lite this week and report back here with my findings.

[2015-06-03 18:12] kristineds opened #86 "Public Release Checklist"

[2015-06-04 03:16] #86 closed

[2015-06-04 05:54] jaswsinc opened #87 "Icon Corruption"
One of the CM icons got corrupted in a recent update.

![2015-06-03_21-53-03](https://cloud.githubusercontent.com/assets/1563559/7977802/069b992a-0a3b-11e5-9cd0-ac2ed23d92e1.png)

[2015-06-04 20:48] Reedyseth commented on #80
Correct, what it [store](https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/subscribe-to-comments-reloaded.php#L421) is the email and the unique key. This does not affect the subscriptions statuses only interact with the subscriptions forms to allow them to manage the subscription.

[2015-06-04 23:59] jaswsinc commented on #85
Referencing prior security fix: https://github.com/websharks/comment-mail/commit/27764b521d9ba9ac4a3aecb80037090a197906f0

[2015-06-05 03:02] jaswsinc commented on #85
@raamdev  My security review is complete now. I wanted to go back over the bug you reported some time back that was found on my site, and I did that. Hardened a few routines. Looks pretty good to me now. I'm not going to dwell on this any longer, I'll just wait and see what else might turn up in the rest of our collective testing.

I'll leave this open for you anything more you'd like to add/repor

[2015-06-05 17:07] jaswsinc opened #88 "SSO — Without Logging In?"
Referencing: http://comment-mail.com/kb-article/sso-integration/

@raamdev writes...

[2015-06-05 17:15] jaswsinc commented on #88
@raamdev Great point.

I don't see any reason we couldn't enable this for those who would prefer it this way. The only problems that I see are as follows:

- An SSO login is also going to create an account on the site for that user. That may not be desirable in some cases, and could be a side-effect that would annoy site owners who enable it without knowing this. We just need to be sure they know

[2015-06-05 17:21] raamdev commented on #88
I don't think that's necessary. In fact, I (personally) would rather it create an account for them on my site, that way when they come back to my site to leave another comment, it looks like they're "already logged in", as opposed to just filling in the comment form fields.

Good point. I think we can alleviate any confusion by simply detecting if someone has not enabled "Require users to be logge

[2015-06-05 18:16] jaswsinc commented on #88
Good, good. That's easy enough. Thank you.

[2015-06-09 22:06] jaswsinc opened #89 "Pro Upgrade UI Missing"
The UI/link which leads to the pro upgrader is missing in the pro version.

![2015-06-09_14-05-36](https://cloud.githubusercontent.com/assets/1563559/8070796/b01d76f2-0eb0-11e5-9f08-8b7d6ccc00e7.png)

[2015-06-14 06:50] #89 closed

[2015-06-14 21:07] brucewsinc opened #90 "Quick Review of pre-release 150613"
Hey, I saw a notification for a pre-release of Comment Mail the other day, and I just tested it out. Looking good! Thought I'd give you a couple of my thoughts from my (limited) testing.

It may be useful to note that I'm running a clean installation of WordPress `4.2.2` with PHP version `5.3.29`. Apache `2.4.10`.

 - I got an error when I activated with the activation SQL. `Duplicate dolumn name

[2015-06-14 21:07] brucewsinc commented on #90
Database Error:
[code]

Exception on activation:
[code]

[2015-06-15 00:18] jaswsinc commented on #90
Awesome! :-) Thanks for the feedback Bruce.

---

It seems that this comes from an update routine. Do you remember if you had a previous copy of Comment Mail running already, and then you updated to this version? Or, had you installed a copy of Comment Mail in the past to test with?

[2015-06-15 14:46] brucewsinc commented on #90
I do think I had Comment Mail installed at some point in the past, yes. I just disabled and activated it again, and there was no issue this time. So that's probably why. I'll try making a fresh install later today and see if I can recreate the error again.

[2015-06-15 15:39] kristineds commented on #77
@jaswsinc Do you need help with this? :)

[2015-06-15 16:01] raamdev commented on #90
@brucewsinc Holy crap, may I be the first to say it's great to see your name/face here! lmao... I thought it must've been a bug or something when I saw your avatar pop up in the Slack GitHub notification. :D

Also, thanks for the awesome critique of Comment Mail! That's _exactly_ the type of feedback we need. I'll be keeping your comments in mind as I go through a full review of Comment Mail mysel

[2015-06-15 22:45] jaswsinc commented on #90
Copy that. I think the problem with this was a version conflict that I introduced by not bumping the version with each new release that I made. I will take a closer look to be sure though. Thanks!

[2015-06-15 23:13] jaswsinc opened #91 "Comment Moderation Option in Comment Mail Panel"
@brucewsinc writes...

[2015-06-15 23:14] jaswsinc opened #92 "Spam Score in Comment Mail Notifications"
@brucewsinc writes...

[2015-06-16 01:44] jaswsinc commented on #77
Yes, and I will do my best to outline a game plan for this soon. For the moment though, I don't enough information together in order to expose what needs to happen here. Will work on it! :-)

[2015-06-16 14:57] kristineds commented on #77
Cool. Looking forward to it. :)

[2015-06-17 09:49] jaswsinc commented on #91
@brucewsinc To clarify, the confusion that you had was with the emails being sent out right, only _after_ a comment was approved. Is that right? What confused you about this exactly? Was it that you had to approve the comment before notifications went out?

[2015-06-17 10:01] jaswsinc commented on #72
## Next Actions / Project Outline

See: <https://quire.io/w/7C4cVjc0O3g2ZXK3OnQUG9eJ/Modify_i18n_Utilitie...>

[2015-06-17 10:58] jaswsinc commented on #67
Adding a project outline above. See: <https://quire.io/w/Yx2VYsoJkIs4L6P3pfFuVDVg/Improve_URL_utility_...>

[2015-06-17 13:19] jaswsinc commented on #77
@kristineds @raamdev I posted an outline of how to complete the work on (A). Please see: https://quire.io/w/kx2VYsoJkIs4L6P3pfFuVDVg/Understanding_Commen... if you'd like to learn more about how you can help on this issue.

[2015-06-17 20:07] raamdev commented on #77
@kristineds @jaswsinc I'm going to assign this issue to myself and work on completing this.

[2015-06-17 20:13] raamdev commented on #91
I _think_ he's referring to this default WordPress Discussion option:

![2015-06-17_16-09-47](https://cloud.githubusercontent.com/assets/53005/8217404/5223911a-150b-11e5-8114-2f10f3240f1d.png)

Basically, until the comment is approved, no subscribers are going to receive any emails.

I personally don't see any confusion about this, but I can see how someone who maybe doesn't use WordPress for repl

[2015-06-19 07:17] jaswsinc commented on #91
[code]

[2015-06-19 07:17] jaswsinc commented on #91
![](https://www.filepicker.io/api/file/l25kVM9aTY6A947tVHMe#.png)

[2015-06-19 07:21] jaswsinc commented on #91
This has been implemented.

[2015-06-19 07:21] #91 closed

[2015-06-19 09:40] jaswsinc opened #93 "Bug: RVE Not Picking up Reply IDs"
The RVE handler is not picking up reply IDs whenever a reply is sent via email in response to a comment, even when the comment ID is in the reply-to addresss.

_Caused by PHP bug in `preg_match_all()` w/ `PREG_PATTERN_ORDER`._
http://php.net/manual/en/function.preg-match-all.php

PHP bug is currently undocumented, I will report it.

[2015-06-19 09:40] #93 closed

[2015-06-19 09:43] jaswsinc opened #94 "Bug: RVE Includes `wrote:` line which appears above the RVE end marker."
Even though we have sophisticated RVE end markers, of various kinds; GMail and other popular clients may prepend a line that includes who wrote it.

[code]

[2015-06-19 09:45] jaswsinc commented on #94
Referencing: https://en.support.wordpress.com/comment-reply-via-email/

[2015-06-19 10:11] #94 closed

[2015-06-19 10:13] jaswsinc commented on #92
[code]

[2015-06-19 10:18] jaswsinc commented on #92
![](https://www.filepicker.io/api/file/eqUMDnbCTWyNMencrThj#.png)

[2015-06-19 10:32] jaswsinc opened #95 "SMTP in PHPMailer Missing `To:` Header"
A fork of https://github.com/websharks/comment-mail/issues/92

It seems the latest copy of PHPMailer that ships with WordPress has a broken SMTP companion class, because it is not setting the `To:` header as expected.

[code]

[2015-06-19 10:36] jaswsinc commented on #95
Referencing: https://github.com/PHPMailer/PHPMailer/blob/master/changelog.md

[2015-06-19 10:53] jaswsinc commented on #95
Referencing: https://code.google.com/a/apache-extras.org/p/phpmailer/issues/detail?id=163

[2015-06-19 10:55] jaswsinc commented on #95
Referencing: http://stackoverflow.com/questions/5380193/phpmailer-setting-for-individual-emails-is-sending-empty-to-fields

[2015-06-19 11:10] #95 closed

[2015-06-19 11:13] jaswsinc commented on #92
Spam score improved.

![](https://www.filepicker.io/api/file/U5fcnnfrTMCP2suP9HWk#.png)

[2015-06-19 11:13] #92 closed

[2015-06-19 11:14] jaswsinc opened #96 "Bug: Slow Queries in Chart Data"
Some of the charts have what seems to be slow queries. This needs further testing.

[2015-06-19 11:18] jaswsinc commented on #90
Related issues resolved as part of the work here:

- https://github.com/websharks/comment-mail/issues/95
- https://github.com/websharks/comment-mail/issues/92
- https://github.com/websharks/comment-mail/issues/91

---

I reviewed the code for this again and I'm not seeing any problems. As I noted before, I believe this was a version conflict. If anyone sees this though, please let us know. Thanks

[2015-06-19 11:18] #90 closed

[2015-06-19 12:14] jaswsinc commented on #96
[code]

[2015-06-19 12:36] jaswsinc commented on #96
Referencing: https://dev.mysql.com/doc/refman/5.0/en/subquery-optimization-with-exists.html

[2015-06-19 12:52] jaswsinc commented on #96
I see now why I did not catch this during development. The behavior I'm seeing on HostGator w/ slow queries, is greatly impacted by the fact that HostGator is running an outdated version of MySQL.

Explained in greater detail here: https://dev.mysql.com/doc/refman/5.6/en/subquery-optimization.html

[2015-06-19 12:59] jaswsinc commented on #96
Referencing 5.5: https://dev.mysql.com/doc/refman/5.5/en/subquery-restrictions.html

[2015-06-19 17:55] raamdev commented on #92
Awesome!

[2015-06-20 11:20] jaswsinc commented on #96
Referencing: http://www.xaprb.com/blog/2006/04/30/how-to-optimize-subqueries-and-joins-in-mysql/

[2015-06-20 11:40] jaswsinc commented on #96
[code]

Optimized by forcing inner to outer; i.e., a derived subquery.
See: <http://www.xaprb.com/blog/2006/04/30/how-to-optimize-subqueries-and-joins-in-mysql/>

[code]

[2015-06-20 11:42] jaswsinc commented on #96
2000% speed increase.

[2015-06-20 11:42] #96 closed

[2015-06-20 17:03] raamdev commented on #96
Wow! Nice work!

[2015-06-22 23:41] raamdev opened #97 ""Upgrading from StCR" Dashboard message"
(Note: This is as of v150620.)

![2015-06-22_19-21-54](https://cloud.githubusercontent.com/assets/53005/8295823/626810c8-1916-11e5-93ea-d59484b6f5e7.png)

## A

I was alarmed when I saw this line after installing Comment Mail on my personal site (where I currently have over 1,000 StCR subscriptions and where I've carefully tweaked things to work just right). (**NOTE:** The message says that StCR h

[2015-06-23 00:04] raamdev opened #98 "Improve instructions for Import/Export → Subscribe to Comments Reloaded (StCR)"
![2015-06-22_19-24-50](https://cloud.githubusercontent.com/assets/53005/8295879/0e5bf610-1917-11e5-8997-a66f2d35401f.png)

This panel, at present (as of v150620), feels too unfriendly. A site owner coming here would primarily see the big "Begin StCR Auto-Importation" button, which is fine, except that once the import process is done they're left wondering "what now?" (that's assuming they decided

[2015-06-23 00:16] raamdev opened #99 "Fancy Double-Quotes in Template Editing Boxes?"
I noticed (as of v150620) there were fancy double-quotes in some of the template editing boxes:

![2015-06-22_20-08-32](https://cloud.githubusercontent.com/assets/53005/8296148/f6407b88-191a-11e5-8876-6186f08bd1e8.png)

### “ ← fancy double-quote (red arrows)

### " ← normal double-quote (green arrow)

I noticed in some of the other template editing boxes, where there is HTML, normal double-quotes

[2015-06-23 00:23] raamdev opened #100 "Don't automatically enable Comment Mail upon activation"
![2015-06-22_20-21-48](https://cloud.githubusercontent.com/assets/53005/8296246/680919d6-191c-11e5-8b9d-f471eca7169a.png)

After installing Comment Mail (v150620) on my personal site (where I'm currently using StCR), I was a bit alarmed to see that Comment Mail was automatically enabled. This alarmed me because I knew that StCR + Comment Mail enabled at the same time was probably not a good idea,

[2015-06-23 00:30] raamdev opened #101 "Intro to "CAN-SPAM Compliance" option panel"
![2015-06-22_20-27-09](https://cloud.githubusercontent.com/assets/53005/8296346/87df3410-191d-11e5-8292-e3259fcb42e6.png)

The CAN-SPAM Compliance option panel does not (as of v150620) explain anything about what "CAN-SPAM Compliance" actually is, why it's necessary, or what it's doing inside Comment Mail.

We should write a little blurb that summarizes what CAN-SPAM Compliance actually is, why it

[2015-06-23 00:57] raamdev opened #102 "Suggestions for improving the Edit Subscription page (Front-End)"
![2015-06-22_18-33-36](https://cloud.githubusercontent.com/assets/53005/8294913/cc67a67c-190d-11e5-9f8b-6a243888ed0e.png)

## A

The "Post ID #" label is not very user-friendly (as of v150620). Nobody is going to remember posts by their ID#, not even site owners. When looking at a list of all the posts, the things that are most easily remembered are 1) the Post Title and 2) the date the post was p

[2015-06-23 01:03] raamdev commented on #102
The other reason it would make sense to get rid of the ability to edit the Post ID / Comment ID is that on a site with thousands of posts and thousands of comments (like my own), both of those fields becomes pretty much useless.

For example, I noticed on my site (where I have 1,700+ published posts and 11,000+ approved comments), the Post ID drop-down box doesn't even list anything--all I can do

[2015-06-23 01:07] raamdev opened #103 "Security Issue: Edit Subscriptions allows subscribing to Private or Password-Protected posts"
(Tested as of v150620.)

As a visitor, when I'm editing my subscription, I can type in any Post ID# number in the field and then click in the "Comment ID# Field" to refresh the list of comments attached to that post.

![2015-06-22_20-58-22](https://cloud.githubusercontent.com/assets/53005/8296726/39d5a1aa-1922-11e5-99b8-ffcdf899ea37.png)

However, I can also do this even if the Post ID that I ente

[2015-06-23 01:16] raamdev commented on #80
Added two new GitHub issues to the todo list above related to finalizing the StCR Migration process. ↑

[2015-06-23 01:27] raamdev opened #104 "Default sort order for Subscriptions table should be reverse chronological"
As of v150620, the default sort order for the Subscriptions table (**Comment Mail → Subscriptions**) is by Subscriber name:

![2015-06-22_21-20-26](https://cloud.githubusercontent.com/assets/53005/8296952/1d86f956-1925-11e5-89f0-eae2febceb09.png)

However, it would make far more sense to sort this table the same way the WordPress Comments table itself is sorted, in reverse chronological order (new

[2015-06-23 01:32] raamdev commented on #85
@jaswsinc Noting a security issue I discovered here: https://github.com/websharks/comment-mail/issues/103

[2015-06-23 01:40] raamdev opened #105 "Enable Built-In Template System by default"
At present (as of v150620), when Comment Mail is installed, activated, and then enabled, there's nothing that appears on the front-end (i.e., on the comment form) that allows Comment Mail to actually be used. In other words, a site owner feels lost ("what's wrong? what am I missing?"). It took me over a minute to 'discover' this "optional" section and find that I had to change this setting to enab

[2015-06-23 01:47] raamdev opened #106 ""Fatal Error" trying to reactivate StCR after installing Comment Mail"
## Steps to reproduce this bug

1. Install, activate, and enable StCR
1. Install, activate, and enable Comment Mail
1. Deactivate the StCR plugin
1. Enable the StCR plugin

## Expected Behavior

StCR should reactivate, as it had no issue running alongside Comment Mail.

## Observed Behavior

![2015-06-22_21-43-26](https://cloud.githubusercontent.com/assets/53005/8297122/d1be5386-1927-11e5-9e77-813

[2015-06-23 04:42] Reedyseth commented on #106
OK, I follow the steps and was able to replicate the issue. Let you know the findings.!!

[2015-06-23 05:07] jaswsinc commented on #106
Referencing: https://github.com/websharks/comment-mail/blob/master/comment-mail/includes/stcr.php#L111

[2015-06-23 05:08] jaswsinc commented on #106
I think we just need an `!is_admin()` check there, so that when a plugin is activated for the first time there is no collision.

[2015-06-23 05:09] Reedyseth commented on #106
@jaswsinc I am debugging right now and is correct the CM declare the function first than StCR.

[2015-06-23 05:10] jaswsinc commented on #106
Yep, I agree. CM is checking to see if it exists first, but when a plugin is activated from the Dashboard it loaded after the `init` hook. Thus, CM is operating under the wrong assumption in that particular case. If we add an `!is_admin()` check before creating that function override in CM it should resolve this.

[2015-06-23 05:15] Reedyseth commented on #106
Correct!, I just tested and it `!is_admin()` fixed it.

[2015-06-23 05:17] jaswsinc commented on #106
@reedyseth Cool! Would it be possible for you to submit a Pull Request with the changes that corrected this on your side?

[2015-06-23 05:20] Reedyseth commented on #106
I just push the branch with the commit, is it ok like this ? https://github.com/websharks/comment-mail/tree/bug/%23106

[2015-06-23 05:23] jaswsinc commented on #105
Thanks for the heads up!

This particular option is named `comment_form_sub_template_enable` and it defaults to a value of `1` (enabled). However, if you install Comment Mail into a WordPress installation that was previously running StCR, we try to match your StCR configuration and this default value could be modified.

@raamdev @reedyseth Could you guys review this line and let me know if I have

[2015-06-23 05:29] Reedyseth commented on #105
@raamdev @jaswsinc Totally agree, this is just like the `Virtual Management Page` on StCR, the same behavior describe on the option is the same as in StCR. Usually you only need to create your custom template when the Theme that you are using does not support virtual pages or need a cool page instead of the default created by the plugin. So yes I think it should be enable by default.

[2015-06-23 05:33] jaswsinc commented on #104
Done. Thanks!

[2015-06-23 05:33] #104 closed

[2015-06-23 05:54] jaswsinc commented on #105
@reedyseth @raamdev If I pull the value for this option:

[code]

and it is not a `1` or another boolean-ish true value, then the default checkbox template that appears in the comment form (i.e., to allow one to subscribe) should not appear? Do I have that right?

In other words, why would `get_option('subscribe_reloaded_show_subscription_box')` by empty? What reasons could there be for this?

[2015-06-23 06:09] Reedyseth commented on #105
Yes it shouldn't appear, but if no value on `subscribe_reloaded_show_subscription_box` is added then the plugin will add it itself(https://github.com/Reedyseth/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/subscribe-to-comments-reloaded.php#L114), which is not a good.

This is part of the old StCR code that needs a review, but if you set this to no on the options panel

[2015-06-23 06:15] jaswsinc commented on #101
:+1:

[2015-06-23 06:18] jaswsinc commented on #102
@raamdev writes...

Agree :+1:

@raamdev writes...

Agree :+1:

@raamdev writes...

Agree :+1:

[2015-06-23 06:20] jaswsinc commented on #100
@raamdev writes...

Agree :+1:

[2015-06-23 06:26] jaswsinc commented on #99
@raamdev writes...

Thanks for the heads up.

I just reviewed this also. I'm not seeing any harm here either. The use of fancy quotes is for visual appeal only, in certain cases when they are used to encapsulate the title of the post.

I'm leaving this open for further discussion related to the potential for confusion on the part of a site owner making adjustments to these templates.

[2015-06-23 06:28] jaswsinc commented on #98
Agree :+1:

[2015-06-23 06:29] jaswsinc commented on #97
@raamdev writes...

Agree, since we are no longer activating CM by default, that makes sense. Thanks!

[2015-06-23 06:30] jaswsinc commented on #97
@raamdev writes...

Great point. Referencing: https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/stcr.php

[2015-06-23 07:20] jaswsinc commented on #106
@Reedyseth writes...

That worked. Thanks again!

In the future, if you can submit your Pull Request with the "base" branch set to `000000-dev` that would be helpful. I think that a recent change I made in our default branch might have caused your PR to be submitted against `master` instead. Anyway, if you see that happen again in the future, please change it to `000000-dev` if you think about it.

[2015-06-23 07:20] #106 closed

[2015-06-23 08:03] Reedyseth commented on #106
Got it !

[2015-06-23 19:34] raamdev commented on #106
@Reedyseth @jaswsinc Woohoo! Nice work collaborating on this. :-) Thanks!

[2015-06-23 19:46] raamdev commented on #105
Correct.

Ah, I was not aware that's how it was working. In that case the current behavior sounds _correct_ to me. I was testing this on my personal site where I have `subscribe_reloaded_show_subscription_box` disabled (since I'm using a custom integration with my theme). So, it looks like Comment Mail did exactly what it should've done (i.e., it also disabled the automatic CM template insertion,

[2015-06-23 19:47] raamdev commented on #105
I just confirmed that Comment Mail (v150620) enables the Built-In Template System by default when it's installed on a clean WordPress site (i.e., when it's not importing an existing setting from StCR).

![2015-06-23_15-45-50](https://cloud.githubusercontent.com/assets/53005/8315487/1b6d63e0-19bf-11e5-9fdf-f3bc6cd6af87.png)

I'm going to go ahead and close this issue, but @Reedyseth or @jaswsinc ha

[2015-06-23 19:47] #105 closed

[2015-06-23 19:53] raamdev commented on #99
@jaswsinc can we remove the fancy-quotes? If yes, is there any reason we shouldn't remove them?

[2015-06-23 19:58] raamdev commented on #103
@jaswsinc Note: I suggested in https://github.com/websharks/comment-mail/issues/102 that we change the Edit Subscription page so that it's not possible to modify the Post ID or Comment ID of an existing subscription. You agreed to that change in your reply comment. Making that change would make this security issue a moot point, as that would make it not be possible to change the Post ID / Comment

[2015-06-23 19:59] Reedyseth commented on #105
So far so good, so nothing else to add.

[2015-06-24 06:36] jaswsinc commented on #103
Copy that. Thanks!

[2015-06-24 06:40] jaswsinc commented on #99
@raamdev writes...

Certainly. Not a problem for me at all. My thinking is that fancy quotes would still work to encapsulate a title which may already include double quotes, but that's not that common. Anything we can use to encapsulate the title variable (which could be anything really) is fine with me.

[code]

[2015-06-24 06:41] jaswsinc commented on #106
Agree :smile: Great to have @reedyseth helping us out here!

[2015-06-24 10:12] jaswsinc commented on #103
[code]

[code]

[2015-06-24 10:49] jaswsinc commented on #103
Confirming: `$sub_post->post_status !== 'publish'`
https://github.com/websharks/comment-mail/blob/150620/comment-mail/includes/classes/queue-processor.php#L444

Confirming: `$post->post_status !== 'publish'`
https://github.com/websharks/comment-mail/blob/150620/comment-mail/includes/classes/queue-processor.php#L486

Confirming: `in_array($post->post_type, array('revision', 'nav_menu_item'), TRUE)`

[2015-06-24 10:50] jaswsinc commented on #103
Confirming that password protected posts process subscriptions as they should.

[2015-06-24 10:53] jaswsinc commented on #103
Confirming:

[code]

https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/utils-markup.php#L369-L370

---

Confirming: `'exclude_password_protected' => !is_admin(),`

https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/utils-markup.php#L356

[2015-06-24 11:15] jaswsinc commented on #103
Security hardened. Thanks for the report!

[2015-06-24 11:15] #103 closed

[2015-06-24 12:16] jaswsinc commented on #102
Referencing: http://harvesthq.github.io/chosen/

[2015-06-24 12:38] jaswsinc commented on #102
Noting that not all posts have a title.

[2015-06-24 12:39] jaswsinc commented on #102
Noting that on sites with thousands of posts, manual entry is needed (at this point, at least), and an ID is impossible for a user to know about.

[2015-06-24 14:13] jaswsinc commented on #102
![](https://www.filepicker.io/api/file/rhyxrgumSTi7fie2t4Xr#.png)
![](https://www.filepicker.io/api/file/AWmkHSfvQN2tQeaDrbLn#.png)

[2015-06-24 14:20] jaswsinc opened #108 "Manual Entry of Comment IDs Not Acceptable"
A fork of https://github.com/websharks/comment-mail/issues/102

@jaswsinc writes...

This creates a problem whenever:

- A user subscribes without commenting and the post they are subscribing to has 2000+ comments. The dropdown cannot list all of these, so instead we provide a manual entry that defaults to "All Comments/Replies".
- If the user does in fact want to subscribe to a specific comment,

[2015-06-24 14:21] jaswsinc commented on #102
@raamdev Please review when you get a moment. I'll leave this open for now.

[2015-06-24 14:49] Reedyseth commented on #106
Thank you @raamdev @jaswsinc , I was in a break with the babies, so I am glad to collaborate.

[2015-06-24 15:02] Reedyseth commented on #108
In fact not knowing the ID will be an issue for some users. One thing I can suggest, is to have the post name and ID store in a special table just for that and to add indexes to that table so that query only that table to get the post information will be faster than to query the WP post table itself.

How do we fill that special table? Since there are already crons for purging information we can a

[2015-06-24 19:09] jaswsinc commented on #102
Left to do...

- [] On the front-end; remove the ID number from each Post and only show this whenever a title is not available. Also consider post types.
- [] On the front-end; remove comment ID numbers.

[2015-06-24 23:24] raamdev commented on #99
The 'proper' way to do that is by changing the inner double-quotes to single-quotes:

[code]

or a more common example:

[code]

[2015-06-24 23:25] raamdev commented on #103
Awesome! Thanks!

[2015-06-24 23:41] raamdev commented on #108
When you click "Reply" on a comment (to create a reply to an existing comment), the comment form moves up underneath that specific comment (when JavaScript is disabled, clicking a "Reply to" comment button reloads the page with the Comment ID in the URL, e.g., `?replytocom=3#respond`). Why can't we just pick up the Comment ID for the comment that's being replied to and then attach that to the "Sub

[2015-06-24 23:45] raamdev commented on #102
What's this referencing? That's a broken link for me and the top level sub-domain leads to an unconfigured MAMP installation?

@jaswsinc Can you clarify all of the possible places someone might get to the "Add New Subscription" page?

[2015-06-25 06:52] jaswsinc commented on #102
@raamdev writes...

Hmm. Interesting. This link is working for me. It's the documentation on a jQuery plugin called Chosen, which is what powers the dropdown menus that present the list of Posts/Comments.

[2015-06-25 06:54] jaswsinc commented on #102
@raamdev writes...

- A visitor can access the Add New form by clicking the "subscribe without commenting" link, or by clicking to add a new subscription from their subscriptions summary page.
- A site owner can add a new subscription from the Dashboard.

[2015-06-25 07:00] jaswsinc commented on #102
@raamdev writes...

This link is pointing to a `gh-pages` branch on GitHub. So the fact that you're seeing a MAMP installation is somewhat concerning. I'm going to list the link in code, just in case the URL itself is somehow being manipulated: `http://harvesthq.github.io/chosen/`

See also: `https://github.com/harvesthq/chosen`

[2015-06-25 07:23] jaswsinc commented on #108
@Reedyseth writes...

I was thinking something similar. A search auto-complete field would be cool; i.e., by typing in a few words that will return a subset of the comments by a particular author. That would narrow it from 2000+ to just comments by a specific author.

The select menu would need to become very dynamic for this to be done properly. I see that being the biggest challenge. As for the

[2015-06-25 07:59] jaswsinc commented on #108
Referencing the ZenDesk dynamic dropdown menu which could be coupled with an AJAX loader and broken down by Category/Post/Coment Author/Comments. It would be awesome to see this done for WordPress in some way.

![](https://www.filepicker.io/api/file/Q7dk7KywRBc85U1GnUTE#.png)

[2015-06-25 08:34] jaswsinc commented on #101
KBA published here: http://comment-mail.com/kb-article/can-spam-compliance/

[2015-06-25 08:51] jaswsinc commented on #101
Done.

![](https://www.filepicker.io/api/file/rqUC4auMT32N5Lmo5VjE#.png)

[2015-06-25 08:51] #101 closed

[2015-06-25 09:05] #99 closed

[2015-06-25 09:06] jaswsinc commented on #99
All set now.

[2015-06-25 09:07] #100 closed

[2015-06-25 09:08] jaswsinc commented on #100
Closing this. We no longer activate CM by default.

It's not worded in the exact way, but we already do provide a link which leads a site owner to the basic config. options for Comment Mail whenever it is activated. I think that will suffice.

[2015-06-25 09:11] jaswsinc commented on #102
I'm going to close this now, as I feel that all points have been covered, with the exception of the fork of this issue in https://github.com/websharks/comment-mail/issues/108, which is an edge case that we can take a closer look at soon.

[2015-06-25 09:11] #102 closed

[2015-06-25 09:58] jaswsinc commented on #98
All set. @raamdev TY for the copy, that helped me out! :-)

Initial screen:
![](https://www.filepicker.io/api/file/uKMrlEWMRAC4qTMcpdbQ#.png)

---

After import complete:
![](https://www.filepicker.io/api/file/YpWZ1oatQy6AsrdLOtLV#.png)

[2015-06-25 11:12] jaswsinc commented on #97
Referencing new KBA: http://comment-mail.com/kb-article/stcr-options-transitioned-by-comment-mail/

[2015-06-25 11:45] jaswsinc commented on #97
@raamdev writes...

Copy that.

[2015-06-25 12:05] jaswsinc commented on #97
![](https://www.filepicker.io/api/file/DvoksOQVa015zsoRMHZQ#.png)

[2015-06-25 12:17] jaswsinc commented on #97
![](https://www.filepicker.io/api/file/qFHKOLbGQFKSO4rQOlyY#.png)

[2015-06-25 12:18] jaswsinc commented on #97
Updated message links to: http://comment-mail.com/kb-article/stcr-options-transitioned-by-comment-mail/

[2015-06-25 16:01] kristineds opened #109 "CSS Styling Error on Login Page"
Using current version (as of v150625), when Comment Mail is installed, activated, and then enabled, it is displaying css styling errors on the WP Login Page

![screen shot 2015-06-25 at 11 04 21 pm](https://cloud.githubusercontent.com/assets/7514953/8358996/28f219e2-1b96-11e5-9925-6dd905f0bfa4.png)

[2015-06-25 17:39] kristineds opened #110 "Error 400 (OAuth2 Error) after logging in using Google SSO Integration"
## Steps to reproduce this bug

1. Install, activate, and enable Comment Mail (using v150625)
2. Follow instructions on KB article on how to setup Google [SSO Integration](http://comment-mail.com/kb-article/sso-integration/)
3. Add Callback URL on Google Dev Console as provided on the [Comment Mail Demo site's Dashboard](https://demos.websharks-inc.com/comment-mail/wp-admin/admin.php?page=comment_

[2015-06-26 00:45] raamdev commented on #98
@jaswsinc The blue note box in your update still includes redundant text (repeats what Step 2 describes), which I had removed in my copy above:

[code]

![2015-06-22_19-57-39](https://cloud.githubusercontent.com/assets/53005/8368658/0c3e182a-1b7b-11e5-9bed-c91eba423ba3.png)

[2015-06-26 00:47] raamdev commented on #108
Here are my thoughts on why I don't see that feature being very useful at all: Think about the workflow. If I'm going to subscribe to a Post _or_ a Comment, I'll want to actually _see_ the Post or Comment first, right?

Even if there was a way for me to select a Post and/or a Comment from a drop-down list to subscribe to it, I would want to make _sure_ that's actually the Post/Comment I _want_ to

[2015-06-26 00:54] raamdev opened #111 "Link to view subscriptions after StCR Import loads inside iFrame"
See screenshots below:

![2015-06-25_20-52-53](https://cloud.githubusercontent.com/assets/53005/8368736/52794e6c-1b7c-11e5-8a4a-58d0e81d60b7.png)
![2015-06-25_20-50-12](https://cloud.githubusercontent.com/assets/53005/8368737/5460eb90-1b7c-11e5-8b93-a55bab8f7651.png)

[2015-06-26 01:17] raamdev opened #112 "Expose important Config. Options sub-sections on Dashboard sidebar menu"
The **Import/Export**, **Email Templates**, and **Site Templates** sub-sections inside the Config. Options panel are not clearly visible and they're easy to miss when you're not already familiar with the Comment Mail interface.

I strongly suggest that we add these three important sections as sub-menus directly on the Dashboard sidebar menu, as that will help make them stand out better and easier

[2015-06-26 01:21] raamdev commented on #99
Confirmed. Thanks!

![2015-06-25_21-20-34](https://cloud.githubusercontent.com/assets/53005/8368963/19079036-1b80-11e5-8545-81d5459bfc70.png)

[2015-06-26 01:24] raamdev commented on #102
Yes, definitely very strange (and concerning!). The link works fine now (points to the docs you mentioned), but it definitely _was not_ working when I tried it last night.

[2015-06-26 01:43] raamdev commented on #97
@jaswsinc Do you mind tweaking that message a little?

"Keep Comment Mail, but please deactivate the StCR plugin"

change to:

"We recommend keeping Comment Mail; please deactivate the Subscribe to Comments Reloaded plugin"

Also, in the title of that message I would spell out "Subscribe to Comments Reloaded (StCR)" instead of only saying "StcR"; that title is the first thing people are going to s

[2015-06-26 01:52] raamdev commented on #109
@kristineds I'm not able to reproduce this bug by following the steps that you provided. Could you try reproducing this on a clean WordPress installation and provide me with a list of steps?

[2015-06-26 02:06] raamdev opened #113 "Detect when Jetpack Subscriptions module is active and show Dashboard warning"
The Jetpack Subscriptions module provides similar features as Comment Mail and, just as we do with StCR (see https://github.com/websharks/comment-mail/issues/97) we should detect when that Jetpack module is active and Comment Mail is enabled and show an appropriate warning message.

![2015-06-25_22-03-47](https://cloud.githubusercontent.com/assets/53005/8369357/5dea5bd8-1b86-11e5-9dbf-16dfcdf1e8ab

[2015-06-26 02:11] raamdev commented on #109
I was able to reproduce this bug after enabling SSO and following the steps to enable Google SSO: http://comment-mail.com/kb-article/sso-integration/#-google

[2015-06-26 02:15] kristineds commented on #109
@raamdev : That could be it. That's the only thing I did on the clean WP installation (demo site).
Another bug related to Google SSO integration that _might_ be related this. #110

[2015-06-26 02:21] raamdev commented on #88
I just wanted to leave some feedback here regarding the importance of resolving the issue outlined in this GitHub Issue:

While attempting to reproduce a bug that Kristine reported (https://github.com/websharks/comment-mail/issues/110) I was following the steps outlined in the [SSO Integration](http://comment-mail.com/kb-article/sso-integration/#-google) KB Article for configuring Google SSO and a

[2015-06-26 02:31] raamdev commented on #110
@kristineds I was unable to reproduce this bug. I followed all of the steps outlined in the [Google SSO Integration](http://comment-mail.com/kb-article/sso-integration/#-google) section of the KB Article and then upon testing logging in via Google from the Comment Form, a WordPress account was automatically created for me and I was logged in. Besides a few bumps (see https://github.com/websharks/c

[2015-06-26 02:49] kristineds commented on #110
@raamdev : I cleared that field when setting it up. Just tried reproducing it now and it working perfectly.
What bugs me is that I tried this 3 times yesterday and it gave me that error. Anyway, I'm closing this issue now. Thanks for checking. :+1:

[2015-06-26 02:49] #110 closed

[2015-06-26 05:05] jaswsinc commented on #109
Reproduced also. Thanks! ~ Taking a look.

[2015-06-26 05:07] jaswsinc commented on #109
Noting that this bug exists in the Simple (i.e., `type-s`) template set only.

[2015-06-26 05:19] jaswsinc commented on #109
Fixed in dev branch.

[2015-06-26 05:19] #109 closed

[2015-06-26 05:29] jaswsinc commented on #112
Done! Thanks.

[2015-06-26 05:29] #112 closed

[2015-06-26 05:35] jaswsinc commented on #110
@kristineds writes...

Good to know. If we get customers writing in with the same experience we might need to run further tests. Maybe there is some propagation time needed on the Google side of things. I have not seen that yet myself, but anything is possible.

[2015-06-26 06:20] jaswsinc commented on #113
Referencing: https://wordpress.org/support/topic/plugin-subscribe-to-comments-alignment-of-the-check-box

[2015-06-26 06:20] jaswsinc commented on #113
Referencing: https://github.com/Automattic/jetpack/search?utf8=%E2%9C%93&q=stb_enabled

[2015-06-26 06:21] jaswsinc commented on #113
Referencing: https://github.com/Automattic/jetpack/search?utf8=%E2%9C%93&q=stc_enabled&type=Code

[2015-06-26 06:43] jaswsinc commented on #113
All set in the dev branch.

[2015-06-26 06:49] jaswsinc commented on #98
@raamdev writes...

Thanks for catching this! I updated it to your copy.

[2015-06-26 06:49] #98 closed

[2015-06-26 07:05] jaswsinc commented on #97
Agree. Done. Thanks! :-)

![](https://www.filepicker.io/api/file/jmKyhA2WRayKgoVvK9je#.png)
![](https://www.filepicker.io/api/file/cT11XcbSRaGFNnovAa7R#.png)

[2015-06-26 07:05] #97 closed

[2015-06-26 07:06] jaswsinc commented on #111
Doh! haha... Great catch. TY

[2015-06-26 07:09] #111 closed

[2015-06-26 07:38] jaswsinc commented on #109
@kristineds Thanks for reporting this! :-)

[2015-06-26 08:56] kristineds commented on #109
Glad to help. :)

[2015-06-26 09:54] jaswsinc commented on #88
Copy that. Thanks for those thoughts @raamdev.

[2015-06-26 09:54] jaswsinc commented on #88
Noting that many themes do not display the default login link whenever comment registration is not required, and that this may require that we use a different hook if Comment Mail SSO options are to presented even with registration is not required.

[2015-06-26 11:11] jaswsinc commented on #88
Prerequisities removed from this article:
http://comment-mail.com/kb-article/sso-integration/

[2015-06-26 11:12] #88 closed

[2015-06-26 11:13] jaswsinc commented on #88
Two hooks. `comment_form_top` as a fallback.

[code]

[2015-06-26 15:03] raamdev commented on #113
@jaswsinc I just realized that the Jetpack Subscriptions modules does more than allow subscribing to comments: it also allows subscribing to future posts.

So what if a site owner wants to use the Jetpack Subscriptions module for allowing subscriptions to the Post but wants to use Comment Mail for comment subscriptions? I don't see any inherent problem with doing this, except that now Comment Mail

[2015-06-26 15:24] jaswsinc commented on #113
Ah, I see what you mean. Yep, that sounds like a good idea to me! :-)

---

Might be worth opening a feature request for this too. That would make a great addition to Comment Mail, I think. That's the perfect time to pick up a new subscriber, so for us to make that possible with CM would be great.

[2015-06-26 15:29] raamdev opened #114 "Feature Request: Option to Subscribe to Blog via MailChimp List"
It would be GREAT if Comment Mail included an option to allow a commenter to optionally subscribe to the blog via a specific MailChimp list at the same time that they leave a comment.

For example, the Jetpack Subscriptions module allows for this (except it uses WordPress.com to manage the subscriptions, not a MailChimp list):

![2015-06-26_10-59-34](https://cloud.githubusercontent.com/assets/5300

[2015-06-26 15:30] raamdev commented on #113
Done! https://github.com/websharks/comment-mail/issues/114

[2015-06-26 16:01] jaswsinc commented on #113
I'm ignoring `stb_enabled` (Blog subscriptions) for now as a short-term solution, just to prevent CM from nagging when you only have blog subscriptions enabled.

[2015-06-26 16:02] jaswsinc commented on #113
My suggestion is that we close this now, and let that short-term solution suffice. Instead of putting more work into a KB article or a special notice about this, we can put our focus on #114 instead. If you agree, please feel free to close.

[2015-06-26 17:47] raamdev commented on #113
@jaswsinc Yep, that works for me. I noticed something in your commit (see https://github.com/websharks/comment-mail-pro/commit/110455bf9e523938d3f1dedee35142dccf42342f#commitcomment-11887387) that could be fixed. Also, can we update the Dashboard message then to specifically mention disabling "Jetpack Follow Comments in your WordPress Discussion Settings"? Right now the Dashboard message implies t

[2015-06-26 18:12] jaswsinc commented on #113
@raamdev writes...

Thank you for catching that! :-)

@raamdev writes...

Done. Thanks :-)

![](https://www.filepicker.io/api/file/j7LsUilATXCFzlKfF8Ew#.png)

[2015-07-10 07:29] kristineds opened #115 "Facebook App Error: App not Setup (Still in Development Mode)"
### Steps to reproduce this bug
-------------------
1. Follow instructions on KB article on how to setup [Facebook SSO Integration](http://comment-mail.com/kb-article/sso-integration/#-facebook)
2. Reply to your blog post by logging in using Facebook

### Expected behaviour
-----------------
- User should be able to reply to the blog post by logging in using own Facebook account
- KB article on se

[2015-07-10 22:32] jaswsinc commented on #115
@kristineds Excellent work on identifying this and documenting it. I'll try to update the KB article very soon. Thank you! Thank you!

[2015-07-11 02:42] renzms opened #116 "Comment-Mail Email: UTF-8 "Branch Icon" Showing Up As Box"
On the auto-sent email from Comment-Mail, a box appears next to the URL.

Please see screenshot :
![image](https://cloud.githubusercontent.com/assets/13220018/8631975/7114b11a-27b9-11e5-8a83-30571f54e514.png)

Box appears next to url instead of Branch Icon which should look like this:
![image](https://cloud.githubusercontent.com/assets/13220018/8631978/83b78a86-27b9-11e5-96fe-a4df4588d4f7.png)

Te

[2015-07-11 02:43] jaswsinc commented on #116
Thanks for reporting this compatibility issue! :-)

[2015-07-11 02:44] raamdev commented on #116
I would vote for just removing that glyph from the default email template and let the site URL line up underneath the site title. I don't see that glyph adding much value here.

More important than making the default email templates fancy is making them as widely-compatible as possible.

[2015-07-11 02:49] jaswsinc commented on #116
:+1: Agree.

[2015-07-11 03:39] kristineds commented on #115
Glad to help! :+1:

[2015-07-14 21:49] raamdev opened #117 "Improve Option Panel Header "On Hover" Color"
When hovering over the option panels in Comment Mail, the header changes to a bright green color, which is so totally different than the default blue color that it creates a lot of distraction and emotional stress when moving the mouse over many option panels at once.

![2015-07-14_17-44-55](https://cloud.githubusercontent.com/assets/53005/8686009/944858b4-2a50-11e5-914d-9edfa5ff884f.png)

I sugge

[2015-07-15 02:08] raamdev opened #118 "Missing default translation file"
The Lite and Pro versions of the plugin are currently missing a default translation file (e.g., `includes/translations/comment-mail.pot`). We'll need to have that added so that users can start contributing translations into other languages.

[2015-07-15 07:37] Li-An commented on #118
I agree with that :-)

[2015-07-15 11:16] jaswsinc commented on #118
@kristineds Interested in learning how to generate the POT file for Comment Mail?

[2015-07-15 11:22] kristineds commented on #118
Definitely. Count me in! Where should I start?

[2015-07-15 11:41] jaswsinc commented on #118
# Prerequisites

- Create a directory on your system in a place where you want to keep tools like these. I suggest: `~/projects/websharks` (i.e., `/Users/kristine/projects/websharks`)

## Tools You'll Need

### Gettext Translation Utility

[code]

### WebSharks POT Generator for WordPress

[code]

---

## Repos You'll Need

[code]

---

## Branches You'll Need

You'll want to create two new "featu

[2015-07-15 13:02] jaswsinc commented on #118
@kristineds To submit your Pull Requests

## Lite Version

- Go to this page: https://github.com/websharks/comment-mail/branches
- Find your feature branch; i.e., `feature/118`
- Click "New Pull Request"
- Give it a title that references this issue; e.g., "POT; see: websharks/comment-mail#118"
- Give it a body that references this issue; e.g., "Closes websharks/comment-mail#118"
- Submit.

## Pro

[2015-07-15 13:25] jaswsinc commented on #116
# Next Actions

## Start a New Feature Branch

_These instructions assume that you've already done a `git clone`, so you already have a copy of both the Comment Mail and Comment Mail Pro repos on your system._

### Lite Version

[code]

### Pro Version

[code]

---

## Make Changes

_I'm pointing you to lines in the code as it exists on GitHub. However, you should make these changes in the files o

[2015-07-15 13:28] #118 closed

[2015-07-15 13:30] jaswsinc commented on #118
:100: A+ for @kristineds ~ Two PRs merged. We now have POT translation files.

Lite version: https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/translations/comment-mail.pot

Pro version: https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/includes/translations/comment-mail-pro.pot

[2015-07-15 13:40] kristineds commented on #118
Woohoo!! :+1:

[2015-07-15 13:41] jaswsinc commented on #85
Thank you. #103 has been closed. I'll leave this open for your review, but feel free to close this if you like.

[2015-07-15 14:29] Li-An commented on #118
OK, it's my turn to work...

[2015-07-15 21:54] raamdev commented on #118
Woohoo! Nice work @kristineds :-) Great documentation @jaswsinc!

I'm looking forward to the French translation! :-)

[2015-07-15 21:57] jaswsinc commented on #116
Assigning this to @kristineds

[2015-07-15 22:03] Li-An commented on #118
I have a question: what is exactly "overload property" ?

[2015-07-15 22:08] jaswsinc commented on #118
There are some parts of Comment Mail that contain errors that may occur in edge cases. It's generally OK to just skip these whenever you do a translation. For instance, if you find the line of code that contains translatable text, and it's just throwing a PHP Exception; i.e., `threw new \Except([translatable text here])`, you can just skip this if you like. Ideally, these will never be seen :-)

T

[2015-07-16 00:01] raamdev commented on #85
@jaswsinc Thanks! I'm closing this.

[2015-07-16 00:01] #85 closed

[2015-07-16 06:34] #116 closed

[2015-07-16 06:35] jaswsinc commented on #116
Awesome. Two PRs from @kristineds merged into the dev branch. Thanks! :-)

[2015-07-16 06:39] kristineds commented on #116
Cool!! :+1:

[2015-07-16 10:54] Li-An commented on #118
Thanks for the tip. As the work is bigger than expected, it's a good idea to skip error messages much more interesting in english for developpers.
I've found the link to php.net but the official french expression is "surcharge magique" that sounds... magical :-) ??? So the reason of my question.

[2015-07-20 20:53] Li-An commented on #118
Some more questions - sorry I work slowly on the translation:
The Act Can concern only US residents ? If so, maybe you could add an option to desactivate this because it's perturbarting if not needed.

Found "Powered by Notes" ??

[2015-07-21 01:40] jaswsinc commented on #118
haha! Yeah, it sure does. I'd leave it in there. It sounds awesome! :smile:

Oh, no worries. I imagine it must be hard work.

Are you referring to "overloading". Sorry, not sure I understand.

The "Powered by Notes" are actually just a note at the bottom of the site and at the bottom of emails that Comment Mail sends. e.g., "Powered by Comment Mail". Also known as "branding", "supporting comment m

[2015-07-21 01:48] raamdev commented on #118
I think he's referring to the CAN-SPAM Act; is that applicable to U.S. Residents only? And if so, shouldn't non-US residents be able to disable it?

[2015-07-21 08:02] Li-An commented on #118
Yes, sorry, I was referring to CAN-SPAM Act. Raamdev made it much clearer.

About "Powered by Notes": this will be the message shown in footer ? The exact message ? I was excepting for "Powered by Comment Mail" or "Powered by %s".

[2015-07-21 08:23] jaswsinc commented on #117
## Next Actions

### Prerequisites

- Install the YUI Compressor

[code]

---

### Start a New Feature Branch

_Assuming you have already cloned the repos locally._

[code]

---

### Make Changes

See: https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/client-s/css/menu-pages.css#L825-L830

#### What we have now...

[code]

---

#### What we need to do ...

Separate thi

[2015-07-21 15:07] kristineds commented on #117
@jaswsinc @raamdev Submitted PRs for this:
CM Pro: websharks/comment-mail-pro/pull/4
CM Lite: websharks/comment-mail/pull/121

[2015-07-21 21:25] #117 closed

[2015-07-21 21:26] jaswsinc commented on #117
Merged. Thank you.

[2015-07-22 09:34] jaswsinc opened #122 "CAN-SPAM U.S. Only (Allow Others to Disable)"
A fork of https://github.com/websharks/comment-mail/issues/118#issuecomment-123127046

[2015-07-22 09:37] jaswsinc commented on #118
I see. Thanks! :-) Yes, the CAN-SPAM Act is U.S. only and we will be working to make it possible for others to bypass this in the future, or perhaps reword this section later. You might give this a label of something like (in English): "Postal Address and Privacy Policy" and then translate.

---

The `%s` is replaced with the name of the software automatically. So your translation should include t

[2015-07-22 12:15] Li-An commented on #118
But I've got the sentence "Powered by Notes". So I will translate it into "Propulsé par Notes". But, what is "Notes" here ???

[2015-07-22 23:14] jaswsinc commented on #118
Notes = a brief record of facts, topics, or thoughts, written down as an aid to memory.

i.e., Powered by Comment Mail

[2015-07-22 23:32] raamdev opened #123 "Add note to default email templates that states replies will be public when using RVE"
When RVE (Replies via Email) is enabled, it's important that the default email template(s) include(s) a note that says:

That note should be included immediately after any instructions about how the reader can simply reply to the email to reply to the comment.

This is important because email is inherently private, so it would be easy for someone to hit reply on a notification and just assume that

[2015-07-22 23:48] raamdev opened #124 "Feature Request: Other comments in this conversation"
It would be nice if the comment notification templates could optionally include other top-level comments from the same post, under a section near the bottom of the email called "Recently in this conversation", or maybe "Other comments in this conversation".

Note: I feel that this list should only include top-level comments because sub-comments likely wouldn't make and sense to the reader (i.e., r

[2015-07-23 01:25] jaswsinc commented on #123
:+1:

[2015-07-23 13:46] jaswsinc commented on #124
:+1:

[2015-07-23 14:03] jaswsinc commented on #122
## Next Actions

## Prerequisites

This issue will require some basic knowledge of PHP. It will be a good learning experience. If you have any trouble editing the `menu-page.php` file referenced below, please ask for help on Slack :-)

## Start New Feature Branch

I'll assume whoever works on this knows how to do this. If you need help or have forgotten, please let me know. Remember that a feature

[2015-07-23 14:31] jaswsinc commented on #123
# Next Actions

## Prerequisites

Work on this issue requires a basic knowledge of PHP. It could be a good learning experience. If you need help editing the PHP template files referenced below, please feel free to ask for help on Slack in the #comment-mail channel.

### `~/projects/websharks` Directory

_Please create a folder in your HOME directory named: `websharks`; e.g., `/Users/[YOURNAME]/web

[2015-07-23 14:34] jaswsinc commented on #123
Assigning this to @Reedyseth in hopes that he could help us with this one.

[2015-07-23 15:08] raamdev commented on #113
It appears the Dashboard message that warns when the Jetpack Subscriptions module is active with Follow Comments enabled is no longer working.

- WordPress v4.2.3
- Comment Mail Pro v150709
- Jetpack v3.6

![2015-07-23_11-06-22](https://cloud.githubusercontent.com/assets/53005/8853900/06b04e1c-312b-11e5-8406-ba844b776bbe.png)
![2015-07-23_11-07-04](https://cloud.githubusercontent.com/assets/53005/

[2015-07-23 16:14] kristineds commented on #124
:+1:

[2015-07-23 16:30] jaswsinc commented on #113
Hmm. I wasn't able to reproduce this against 150709 or the latest dev branch. JetPack v3.6 and WordPress v4.3 alpha. I'll test against WordPress v4.2.3 though.

[2015-07-23 16:39] Reedyseth commented on #123
Hey @jaswsinc I will take a look at this and let you know,

[2015-07-23 17:10] kristineds opened #125 "Missing Comment Mail Logo on list of plugins"
If you search for **Comment Mail** in the [WordPress plugin directory](https://wordpress.org/plugins/), Comment Mail doesn't have a logo. It would be nice to have one so it is easier for potential customers to recognize it.

![screen shot 2015-07-23 at 11 53 05 pm](https://cloud.githubusercontent.com/assets/7514953/8856916/6dde8c14-31a0-11e5-83d9-d27c654af3be.png)

[2015-07-23 18:41] kristineds commented on #122
Submitted PRs for [Comment Mail Lite](https://github.com/websharks/comment-mail/pull/126) and [Pro version](https://github.com/websharks/comment-mail-pro/pull/5).

[2015-07-23 19:15] Reedyseth commented on #123
Done @raamdev @jaswsinc

![image](https://cloud.githubusercontent.com/assets/1228711/8859792/d3c90e8c-313c-11e5-8a47-7474bfb30335.png)

[2015-07-23 22:32] raamdev commented on #113
@jaswsinc Hmm, interesting. This was on a fresh install of WordPress too.

For what it's worth, if I remember correctly, here's the order I did things:

1. Installed Comment Mail Pro, **did not activate**
1. Installed Jetpack and activated
1. Activated Comment Mail Pro

It was at that point that I realized I did not see any dashboard warning about Jetpack subscriptions. In fact, I haven't been abl

[2015-07-24 07:02] jaswsinc commented on #113
Weird. I still haven't been able to reproduce this.

If you get time to review this class member for any clues I'd appreciate it:
https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L911

If nothing jumps out at you, can send me an export of your Comment Mail config. options privately?

[2015-07-24 15:44] #123 closed

[2015-07-24 16:12] kristineds commented on #122
@jaswsinc Submitted PRs for  [Lite](https://github.com/websharks/comment-mail/pull/126) and [Pro version](https://github.com/websharks/comment-mail-pro/pull/5). with updated changes. Please review. :)

[2015-07-24 17:08] #122 closed

[2015-07-24 17:26] jaswsinc commented on #113
I just got a JetPack update to v3.6.1 and I was also unable to reproduce it with the latest version.

[2015-07-24 17:38] jaswsinc commented on #125
I was trying to get you access that you need to do this, but there seems to be a problem at WordPress.org at the moment. I'll come back to this later though :-)

[2015-07-24 20:28] raamdev commented on #113
Ah, good, so it was related to the latest Jetpack update. Mystery solved!

[2015-07-24 22:52] jaswsinc commented on #113
No, I was _unable_ to reproduce it with JetPack v3.6.1 either.

[2015-07-24 22:55] jaswsinc commented on #113
Just for kicks, if that's a test site that you're experimenting with, you might try restarting the server and see if that makes any difference. Perhaps there is an opcode cache that contains the previous release of Comment Mail in memory still. That only comes to mind, because I had two issues earlier today that were related to that problem with PHP 5.5 running the Opcache extension with timestamp

[2015-07-24 22:55] raamdev commented on #113
Oh! Interesting. Let me run a few more tests and see if I can reproduce it.

Will do.

[2015-07-24 23:22] raamdev commented on #113
@jaswsinc I checked the server where I initially discovered this issue and that server does not have APC or Opcache installed.

I then used my `raam.websharks-inc.net` test site:

1. Disabled Comment Mail Plugin Deletion Safeguards
1. Deactivated and deleted Comment Mail Pro
1. Updated Jetpack to 3.6.1 and confirmed "Follow Comments" was enabled in **Dashboard → Settings → Discussion**
1. Installe

[2015-07-24 23:34] raamdev commented on #113
Tested Comment Mail Lite v150709; same issue. No Dashboard message warning about potential Jetpack conflict.

[2015-07-24 23:37] raamdev commented on #113
Ah Ha! I I think I figured out the problem!

When I go into **Dashboard → Settings → Discussion** and simply click "Save Changes" at the bottom, then the notice shows up!

![2015-07-24_19-35-37](https://cloud.githubusercontent.com/assets/53005/8886603/30b55bf6-323b-11e5-8d7b-b3447e8b84ec.png)

So, it sounds like the option that Comment Mail is checking for (maybe `stb_enabled` [on this line](https

[2015-07-24 23:39] jaswsinc commented on #113
That's it! Nice work tracking that down.
Referencing: https://github.com/Automattic/jetpack/blob/202d1b80e9386aa6ed2dceb6ab9a4f362413e695/modules/comments/comments.php#L210

We need to pass a default option value in the second argument to `get_option()` in our check.

[2015-07-24 23:56] jaswsinc commented on #113
Next Lite Release:

- **JetPack Conflict Detection:** This release fixes a bug in the automatic JetPack conflict detection; i.e., if you enable JetPack Subscriptions w/ Follow Comments enabled together with Comment Mail at the same, a warning is displayed to notify you of a possible conflict in your configuration. See [this GitHub issue](https://github.com/websharks/comment-mail/issues/113) if you

[2015-07-24 23:56] jaswsinc commented on #113
Next Pro Release:

- **JetPack Conflict Detection:** This release fixes a bug in the automatic JetPack conflict detection; i.e., if you enable JetPack Subscriptions w/ Follow Comments enabled together with Comment Mail at the same, a warning is displayed to notify you of a possible conflict in your configuration. See [this GitHub issue](https://github.com/websharks/comment-mail/issues/113) if you'

[2015-07-25 15:44] raamdev commented on #113
@jaswsinc Thanks for fixing that! :-)

One other thing I just noticed about that Dashboard notice is that it doesn't say _where_ you can update those Jetpack settings. I suggest we add the following to that message:

![2015-07-25_11-43-03](https://cloud.githubusercontent.com/assets/53005/8890106/6f75c0ba-32c2-11e5-8500-b28e390e8d04.png)

I'll submit a PR for this now.

[2015-07-27 02:44] kristineds commented on #125
@jaswsinc Thanks! Will wait for it when you get a chance. :)

[2015-07-27 03:57] kristineds opened #131 "Add the text "Pro" on Comment Mail dashboard"
It would be nice to have the text **(Pro)** added after the word **Comment Mail** on the Dashboard so it is consistent with our other plugins like _s2Member_ when upgraded to the Pro version. It is also easier for users to determine if they're using the Pro version without having to check the Plugin list.

#### Before:
![screen shot 2015-07-27 at 11 28 41 am](https://cloud.githubusercontent.com/as

[2015-07-27 09:39] jaswsinc commented on #113
@raamdev Merged. Thanks! :-)

[2015-07-27 09:39] #113 closed

[2015-07-27 09:45] jaswsinc commented on #131
@kristineds I agree. That would be a nice touch!

The only problem I see is that it forces the line to wrap which is annoying; i.e., the name of the plugin is just a bit too long for us to fit ` (Pro)` on the end without forcing it to wrap--given the default width of this bar in the WordPress Dashboard.

Perhaps we could work on building a second variation of our SVG plugin icon. One that has a li

[2015-07-27 09:53] jaswsinc commented on #125
@kristineds I went back to WordPress.org and tried this again. I can't seem to add you as a committer there yet. I keep getting an error that reads, "no user". It's almost like your WordPress.org profile is corrupted in some way. Strange!

If you get a chance, you might try updating your profile and/or resetting your WordPress.org password. Maybe after this I can try again and it will magically wo

[2015-07-27 21:02] raamdev commented on #131
Another possibility: Add a `+` to indicate it's Comment Mail + all the Pro features:

![2015-07-27_17-01-07](https://cloud.githubusercontent.com/assets/53005/8917624/2842f616-3481-11e5-903d-57623a98f94b.png)

The Plugins list itself could still say "Comment Mail Pro"; the only place we'd use the `Comment Mail+` would be on the menu itself (for space reasons).

[2015-07-28 15:05] kristineds commented on #131
@jaswsinc @raamdev Either one of your suggestions works for me. :)
Here is what it looks like with the text *Pro* as a superscript

![screen shot 2015-07-28 at 11 03 29 pm](https://cloud.githubusercontent.com/assets/7514953/8934972/e37f3290-357c-11e5-837b-b1e4ad28977a.png)

[2015-07-28 15:10] jaswsinc commented on #131
Love the superscript idea! Reducing the font size of that "Pro" label might make it even better.

Referencing: https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L1199

[code]

If you can make that work and test it, I'd love to have a PR we can merge into the pro copy.

[2015-07-28 15:16] kristineds commented on #125
@jaswsinc Just updated my profile and reset the WordPress.org password. Can you please try it again? :) Hopefully it works this time.

[2015-07-28 15:21] jaswsinc commented on #125
No dice. How strange!

@raamdev Are you able to add `kristineds` as a Comment Mail Committer at WordPress.org?

Have you ever had a problem doing so in the past? I keep getting an empty response; i.e., no error, no nothing. The only indication I have that there's a problem is that I am redirected to a URL that ends with `?error=no-user`

[2015-07-28 18:03] raamdev commented on #131
Brilliant! I love the superscript idea too.

I suggest using `75%`; `80%` has issues when actually using the menu:

## Superscript at 80%

![2015-07-28_13-59-59](https://cloud.githubusercontent.com/assets/53005/8939254/50b4c42a-3531-11e5-986b-cd9311af6950.png)
![2015-07-28_14-00-40](https://cloud.githubusercontent.com/assets/53005/8939256/53b2abc4-3531-11e5-8d81-5c8b1d90a423.png)

## Superscript a

[2015-07-28 18:17] raamdev commented on #131
Also, adding the superscript pushes down the "Comment Mail" text:

![2015-07-28_14-16-34](https://cloud.githubusercontent.com/assets/53005/8939604/59acc300-3533-11e5-80c8-76746214e781.png)

So you'll need to add the following CSS tweak to get the alignment fixed:

[code]

![2015-07-28_14-15-15](https://cloud.githubusercontent.com/assets/53005/8939608/5f7cbb78-3533-11e5-91e3-95ce05304d3d.png)

[2015-07-28 18:29] raamdev commented on #125
I'm getting the same error as you. I just posted a question in WordPress Slack and will let you know what I hear.

[2015-07-28 18:34] jaswsinc commented on #125
Cool. TY :-)

[2015-07-28 18:40] raamdev commented on #125
@jaswsinc

Using `KristineDS` worked. @kristineds is now a committer on WordPress.org for the Comment Mail plugin.

[2015-07-28 18:45] raamdev commented on #125
Proper username case can be found on this profile page: https://wordpress.org/support/profile/kristineds

[2015-07-28 18:59] jaswsinc commented on #125
Awesome. Thanks @raamdev!
~ @kristineds I'll come back to this soon.

[2015-07-29 13:35] jaswsinc commented on #125
`icon-128x128.png`

![icon-128x128](https://cloud.githubusercontent.com/assets/1563559/8958821/96fdbedc-35b3-11e5-87db-1e9edf0cb1d2.png)

---

`icon-256x256.png`

![icon-256x256](https://cloud.githubusercontent.com/assets/1563559/8958822/96ff2204-35b3-11e5-8aa9-eaff37d06711.png)

[2015-07-29 13:45] jaswsinc commented on #125
## Next Actions

## Checkout Subversion Repo from WordPress.org

[code]

_**Note:** The `svn` command-line tool comes with OSX, so you should already have this. If you want the latest version run `brew install svn`. I just run the default version that comes with OSX though, as I don't use this tool much at all anyway. In fact, I only use it for WordPress.org repos._

---

## Add Icon Files to `/as

[2015-07-29 13:48] jaswsinc commented on #125
@kristineds Whenever you do `commit -m` you'll be asked for your WordPress.org username/password. Be sure to enter your username in the proper caSe; i.e., `KristineDS` ~ WordPress.org is picky.

[2015-07-29 15:27] kristineds commented on #125
@jaswsinc I'm getting this error

[code]

[2015-07-29 17:22] kristineds commented on #131
@raamdev @jaswsinc On what file can I add that CSS tweak? :) Is it this one? https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/client-s/css/menu-pages.css

[2015-07-29 17:29] raamdev opened #132 "Remove ™ (trademark) symbol from WordPress.org Plugin Name"
We've all noticed these mysterious characters on WordPress.org:

![2015-07-29_13-14-50](https://cloud.githubusercontent.com/assets/53005/8964497/eff87fe6-35f3-11e5-8c8b-564a1015bf50.png)

I realized they must be related to the ™ trademark character we have at the end of "Comment Mail".

![2015-07-29_13-14-36](https://cloud.githubusercontent.com/assets/53005/8964793/a0bf8bde-35f5-11e5-9e5e-6927dac8

[2015-07-29 18:03] jaswsinc commented on #131
Let's see if you can get by without that, because the `menu-pages.css` file is not loaded for every admin page--only for pages that are for Comment Mail. I think if you set the `line-height` for the `<sup>` tag you can avoid this.

[code]

[2015-07-29 18:03] jaswsinc commented on #131
![2015-07-29_10-02-37](https://cloud.githubusercontent.com/assets/1563559/8965612/17d7ea94-35d9-11e5-87a1-b54a9d1bc019.png)

[2015-07-29 18:09] jaswsinc commented on #132
:+1:

[2015-07-29 18:13] raamdev commented on #131
Confirmed. That works great on my end too!

[2015-07-29 18:20] jaswsinc commented on #132
@Reedyseth Interesting in tackling this one?

If so, please use the same technique as before. New branch `feature/132` for both lite and pro; and submit pull requests for a team review.

---

## Clone Repos Locally

_Skip this if you've already done it in the past._

[code]

---

## Start from a fresh dev branch...

[code]

_Repeat for pro version._

---

## Start New Feature Branch for this Issue

[2015-07-29 18:29] kristineds commented on #131
Submitted PRs for CM [Lite](https://github.com/websharks/comment-mail/pull/133) and [Pro](https://github.com/websharks/comment-mail-pro/pull/9)

[2015-07-29 18:45] #131 closed

[2015-07-31 15:55] kristineds commented on #125
@jaswsinc Confirming that Comment Mail logo has been added on the WordPress Plugin Lists

![screen shot 2015-07-31 at 11 51 42 pm](https://cloud.githubusercontent.com/assets/7514953/9011367/755ccf74-37df-11e5-8d81-ac3f827c82fa.png)

[2015-07-31 16:05] jaswsinc commented on #125
Awesome! :-) I'd say this could be closed now. Nice work @kristineds

[2015-07-31 16:07] kristineds commented on #125
Thanks! Closing this issue.

[2015-07-31 16:07] #125 closed

[2015-08-03 16:19] raamdev opened #134 "3rd Party Plugin Compatibility: MailChimp for WordPress"
The [MailChimp for WordPress](https://wordpress.org/plugins/mailchimp-for-wp/) plugin should be tested for compatibility with Comment Mail. There's [a report](https://github.com/stcr/subscribe-to-comments-reloaded/issues/93) of issues running that plugin with StCR, so we should confirm the same issue does not exist with Comment Mail.

Note that the issue may be related to a feature only available

[2015-08-04 02:51] jaswsinc commented on #114
Referencing an existing integration with the MailChimp API that was done in s2Member:
https://github.com/websharks/s2member/blob/000000-dev/s2member/includes/classes/mailchimp.inc.php

It uses the MailChimp PHP SDK for v2 of the MailChimp API:
https://bitbucket.org/mailchimp/mailchimp-api-php/src

[2015-08-04 16:31] raamdev commented on #114
Added a **Feature Wishlist** above. ↑

[2015-08-04 16:55] jaswsinc commented on #114
@kristineds I'm assigning this to you, and I'll try to work with you a little bit at a time in order to make some progress on this. I'm going break this down into small phases and explain what needs to happen along the way--as time allows. I'll start with the MailChimp API and explain that we need to add a new submodule to the pro repo as a way to prepare for work that needs to occur in the near f

[2015-08-05 15:32] kristineds commented on #114
@jaswsinc Submitting Comment Mail Pro PR for Adding MailChimp submodule: websharks/comment-mail#114

[2015-08-05 18:49] raamdev commented on #114
@jaswsinc I assume this should not have been closed?

[2015-08-05 18:53] raamdev commented on #114
@kristineds Keep in mind when submitting Pull Requests that if a particular PR doesn't _actually_ close a GitHub Issue, i.e., it's just part of working _towards_ closing a GitHub issue, then you don't want to use the word "Closes" inside the body of the Pull Request, otherwise when the PR gets merged, the associated GitHub issue will be automatically closed by GitHub. In this case, it would have b

[2015-08-05 19:00] jaswsinc commented on #114
@raamdev Correct. Thanks for catching that.

[2015-08-06 16:31] kristineds commented on #114
@raamdev Noted. That makes sense. Didn't know that. :)

[2015-08-08 02:25] jaswsinc opened #135 "Test WP v4.3 WP_List_Table Changes"
See: https://make.wordpress.org/core/2015/08/08/list-table-changes-in-4-3/
~ We need to test Comment Mail against WordPress v4.3 to see if any changes are necessary. Comment Mail extends this class, so any changes to this class could cause a problem.

[2015-08-08 20:27] jaswsinc opened #136 "Bug: Multisite Uninstall"
## Overview

The uninstaller for Comment Mail should consider that each child blog in a network could have been running the Comment Mail plugin. For that reason, the uninstaller should attempt to iterate through each blog and apply the uninstall routines to each child blog in order to remove all traces.

Referencing: https://github.com/websharks/comment-mail/blob/150709/comment-mail/includes/class

[2015-08-08 20:29] #136 closed

[2015-08-08 23:16] patdumond opened #138 "Fatal Error When Opening Page for Editing"
I installed Comment-Mail on a new website. I went in to edit the sole page on the site and found the following error message:

[code]

I thought it might have been a problem with the theme (iThemes Builder) so I activated 2015. Still got the error when I went in to edit the page. The error message does not appear when add a new page or post, but neither does the "Comment-Mail" metabox.  I don't re

[2015-08-11 03:16] jaswsinc opened #139 "Bug :: Multisite :: ACE :: Data Storage"

[2015-08-11 03:17] jaswsinc commented on #139
Wrong repo. Closing.

[2015-08-11 03:17] #139 closed

[2015-08-11 03:57] jaswsinc commented on #114
## Next Actions

## New Feature Branch

`feature/114-step2` (pro version only)

## Add Abstract Base Class for List Server Integrations

`comment-mail-pro/includes/class/list-server-base.php`
See also: http://php.net/manual/en/language.oop5.abstract.php

[code]

---

## MailChimp Class (Extends Base)

`comment-mail-pro/includes/classes/list-server-mailchimp.php`
See also: http://php.net/manual/en/

[2015-08-11 04:18] jaswsinc commented on #114
# Next Actions

## New Feature Branch

`feature/114-step3` (pro and lite versions)

## MailChimp Config. Option Keys

### Pro Version

After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L507) add a new section:

[code]

### Lite Version (Awareness)

After [this line](https://github.com/websharks/comment-mail/blob/150709/comment-mail/plugin.i

[2015-08-11 04:31] jaswsinc commented on #114
# Next Actions (Step 4)

## New Feature Branch

`feature/114-step4` (pro version only)

## List Server Utilities Class

`comment-mail-pro/includes/classes/utils-list-server.php`

[code]

## Property Annotation for IDEs

After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L29) add a new line for these utilities.

[code]

---

## Submit Pull Re

[2015-08-11 04:34] jaswsinc commented on #114
## What's on deck after these?

- Write code that interacts with MailChimp in this class:
  `comment-mail-pro/includes/classes/list-server-mailchimp.php`

- Write code that interacts handles subscribe/unsubscribe actions based on Comment Mail configuration in this class: `comment-mail-pro/includes/classes/utils-list-server.php`

[2015-08-13 10:44] kristineds commented on #114
@jaswsinc @raamdev Submitted PRs for the following:

Step 2: https://github.com/websharks/comment-mail-pro/pull/12
Step 3: Pro: https://github.com/websharks/comment-mail-pro/pull/13 && Lite: https://github.com/websharks/comment-mail/pull/140
Step 4: https://github.com/websharks/comment-mail-pro/pull/14

[2015-08-14 01:40] jaswsinc commented on #114
@kristineds Nice work! All merged. Thank you :-)

[2015-08-14 01:54] jaswsinc commented on #114
# Next Actions (Step 5)

## Write Code for MailChimp Subscribe Action

In: `comment-mail-pro/includes/classes/list-server-mailchimp.php`
Method: `public function subscribe(array $list, array $args)`
Method body: (code below)

[code]

As a point of reference (if you'd like to learn more), see the [docs here](https://bitbucket.org/mailchimp/mailchimp-api-php/src/03ae0dba64d1a902fb4d76004ef12c8391ede

[2015-08-14 12:54] jaswsinc commented on #138
@patdumond Thanks for the report!

Can you confirm that you do have the DB table `wp_comment_mail_subs`? If you inspect your WordPress database with a tool like PhpMyAdmin, do you have this table?

[2015-08-14 13:03] patdumond commented on #138
I'll check it out. I have to admit I uninstalled CommentMail. This is the only site (out of 3-4 that I've installed it on) that I've seen this issue and it except for the theme and iThemes Security it was pretty much still a clean install. I'll see if I can reproduce the problem and check for that table.

[2015-08-14 13:05] jaswsinc commented on #138
Thank you. No worries. If you can that's great. If not, we can go with what you provided already.

[2015-08-14 14:42] patdumond commented on #138
When I reinstalled the problem was gone. Comment Mail looks fine. Haven't tested whether it actually works, but it is enabled and everything  on the back end is fine. I even switched back to the Visual Composer theme I had installed the other day and reinstalled and activated Visual Composer. Whatever glitch it was, isn't there anymore. I'm going to close this issue.

[2015-08-19 05:03] jaswsinc commented on #138
Copy that. Thanks for testing!

I'm going to reopen this just in case it surfaces again. The fact that you saw this exception is a bit concerning. It tells me there is a specific sequence of events that can lead to this problem.

[2015-08-21 16:05] kristineds commented on #132
@jaswsinc @raamdev Submitting PRs for this issue
- websharks/comment-mail/pull/141
- websharks/comment-mail-pro/pull/15

[2015-08-21 16:06] jaswsinc commented on #132
Great! Thanks for knocking that one out :-)

[2015-08-21 16:06] #132 closed

[2015-08-21 16:10] jaswsinc commented on #72
@kristineds You're welcome to give this one a shot if you'd like. It was outlined on Quire a while back and it's one that might be good practice. If you decide to tackle it just let me know and I can help if you need it.

[2015-08-21 16:11] jaswsinc commented on #72
Be sure to expand the details "read more" link on Quire.
![2015-08-21_08-10-52](https://cloud.githubusercontent.com/assets/1563559/9413094/3355c362-47dc-11e5-97cf-12f42d2ee20b.png)

[2015-08-21 16:12] jaswsinc commented on #72
It's these steps only.

![2015-08-21_08-11-46](https://cloud.githubusercontent.com/assets/1563559/9413106/4ef6d020-47dc-11e5-96fa-5200b08cbc62.png)

[2015-08-21 19:26] kristineds commented on #114
@jaswsinc @raamdev Submitting PRs for Step 5 (Subscribe and Unsubscribe action)
- https://github.com/websharks/comment-mail-pro/pull/16
- https://github.com/websharks/comment-mail-pro/pull/17

[2015-08-23 17:30] kristineds commented on #72
@jaswsinc I'm ready to work on this. Should I start with creating a feature branch for this issue and work on the "Modify i18n Utilities Class" step?

[2015-08-23 19:54] kristineds commented on #72
@jaswsinc Submitting PR for CM Lite and Pro to **Modify i18n Utilities Class**
- websharks/comment-mail/pull/142
- websharks/comment-mail-pro/pull/18

[2015-08-24 05:42] jaswsinc commented on #72
Perfect, yes. I merged your PRs for step one. Nice!

[2015-08-24 14:48] kristineds commented on #72
@jaswsinc Cool! Could you please you give me some guidance on what to do on the next step ~ Update Codebase; i.e., Utility Calls (Run a search on the entire codebase for calls to those i18n utilities)? Thanks

[2015-08-26 08:43] jaswsinc commented on #72
What you want to search for is `i18n->action_ed(`
See: https://atom.io/docs/v1.0.7/using-atom-find-and-replace

Note also, that in this file, there are still several other utilities that need to be converted in much the same way that you did with `action_ed()`; i.e., to add the `$transform` parameter and adjust the code to deal with the `$transform` parameter. See: [this checklist item](https://qu

[2015-08-28 14:19] DannyBrownCA commented on #124
Postmatic is awesome. And their support is second-to-none. Good luck with this plugin, but I won't be changing.

[2015-08-28 14:36] jaswsinc commented on #124
@DannyBrownCA Hi :-) Nice to meet you. I read your article on Postmatic. They certainly have a lot going for them over there. Looks like a great plugin and community they are building.

Thank you for wishing us luck. Have you tested each of these and formed an opinion about the features offered by each of the plugins?

[2015-08-28 14:52] DannyBrownCA commented on #124
Cheers - and, yes, the community support comes from the support Postmatic offers its users. Easy to be loyal when you're looked after. :)

I haven't tried your plugin, as I'm not a fan of needing to create an account to use a WP plugin.

[2015-08-28 14:56] jaswsinc commented on #124
@DannyBrownCA See: https://wordpress.org/plugins/comment-mail/

[2015-08-28 14:57] jaswsinc commented on #124
Definitely. So important these days. Agree :-)

[2015-08-28 14:59] DannyBrownCA commented on #124
Cheers for the repo link, will check it out. :)

[2015-08-31 13:39] kristineds commented on #72
@jaswsinc: Can you check this code when you get the chance before I send the PR for it? :) Thanks! https://gist.github.com/kristineds/72f15c4833dc102cb0f6

[2015-08-31 16:42] kristineds commented on #72
@jaswsinc Submitting PRs for CM Lite and Pro to Update codebase for i18n utility calls:
- websharks/comment-mail/pull/143
- websharks/comment-mail-pro/pull/19

[2015-08-31 19:12] jaswsinc commented on #72
@kristineds Merged both of those. Thank you!

---

## Next Actions (Final Step)

- New feature branch:

[code]

- Search the codebase to find areas where each of those i18n utilities have been used; i.e., search for the word fragments:

  - `i18n->action_ed(`
  - `i18n->status_label(`
  - `i18n->event_label(`
  - `i18n->deliver_label(`
  - and `i18n->sub_type_label(`

- Review [Raam's request abov

[2015-09-04 11:19] kristineds opened #144 "Feature Request: Handling Comments per Post type"
A customer writes...

----------
Referencing: [Support Ticket](https://websharks.zendesk.com/agent/tickets/8154)

[2015-09-11 09:42] kristineds commented on #72
@jaswsinc Submitting PRs for CM Lite and Pro for Step 3

- websharks/comment-mail/pull/145
- websharks/comment-mail-pro/pull/20

[2015-09-11 10:07] jaswsinc commented on #72
@kristineds Merged both. Nice work! :100:

[2015-09-11 10:07] #72 closed

[2015-09-14 21:35] NSStringMe commented on #144
+1

[2015-09-16 10:46] jaswsinc commented on #114
## Next Actions (Step 6)

- New feature branch.

- Update the contents of [this file](https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/includes/classes/utils-list-server.php) to the following.

[code]

- Submit Pull Request.

[2015-09-17 04:55] kristineds commented on #114
@jaswsinc @raamdev Submitting PR for Step 6. websharks/comment-mail-pro/pull/21

[2015-09-17 07:54] jaswsinc commented on #114
Merged. Thanks!

[2015-09-18 20:24] jaswsinc commented on #138
Another report of this issue. Referencing internal ticket: https://websharks.zendesk.com/agent/tickets/8422

[2015-09-22 18:08] jaswsinc commented on #114
## Step 8 (Next Actions)

- Review https://github.com/websharks/comment-mail-pro/commit/1016d2e8e1634a2356f0efc1bf7806289219bc99 where I integrated the new list server classes/methods you worked on, into the Comment Mail core. Don't worry about understanding it all right now, just take a mental note of those changes.

- Now, start a new feature branch: `feature/114-step-8`

- After [this line](htt

[2015-09-22 18:25] jaswsinc commented on #138
The error being `Uncaught exception 'Exception' with message 'Query failure.'` in /home/pdphoto/public_html/wp-content/plugins/comment-mail/includes/classes/utils-sub.php:627.

Referencing: https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/utils-sub.php#L626-L627

[2015-09-22 19:34] raamdev commented on #138
Adding this to the `Next Release` milestone, as this seems important given there have been multiple reports of this.

[2015-09-22 19:53] jaswsinc commented on #114
@kristineds While you're working on this PR, please take note of the way template files work in Comment Mail. Notice that each template file is assigned a set of PHP variables that can be used in the template. Some of these are just simple/static values, while others (like `$plugin`) are class instances that pack a ton of functionality at your disposal inside a template file.

Each template file d

[2015-09-24 13:50] kristineds commented on #114
@jaswsinc Do I have to create a separate div for Step 8? Or the code you provided will do?

- [Step 8](https://gist.github.com/kristineds/f2c5c3533e8bbaccb2cd)
- [Step 9](https://gist.github.com/kristineds/512b471f1cc8f385ebdc)

[2015-09-24 14:04] jaswsinc commented on #114
A separate div with ` class="cso-sub-list"` would be great, yes.

[2015-09-24 14:07] jaswsinc commented on #114
**Note:** It's OK to push what you consider to be a work-in-progress as a PR. In other words, a PR doesn't always need to be  ready to merge. So in a case like this, a Gist works fine. However, you could also just push the code, open the PR, and leave me a note saying that you still have questions.

This where the "ready to merge" and "in progress" labels can help, as you can label the PR for me.

[2015-09-26 23:35] raamdev opened #146 "Test WP v4.4 Comment Form Changes"
We need to test Comment Mail with the Comment Form changes coming in WP v4.4. See: https://make.wordpress.org/core/2015/09/25/changes-to-fields-output-by-comment_form-in-wordpress-4-4/

[2015-10-08 02:15] raamdev commented on #136
Next Lite Release Changelog:

- **Bug Fix**: Fixed a Multisite uninstallation bug that was preventing Comment Mail from taking Child Blogs into consideration when uninstalling, which was resulting in an incomplete uninstallation. See [Issue #136](https://github.com/websharks/comment-mail/issues/136).

[2015-10-08 02:15] raamdev commented on #136
Next Pro Release Changelog:

- **Bug Fix**: Fixed a Multisite uninstallation bug that was preventing Comment Mail from taking Child Blogs into consideration when uninstalling, which was resulting in an incomplete uninstallation. See [Issue #136](https://github.com/websharks/comment-mail/issues/136).

[2015-10-08 02:17] raamdev commented on #132
Next Lite Release Changelog:

- **Bug Fix**: Fixed an issue with the plugin title showing odd characters on WordPress.org pages. Props @kristineds. See [Issue #132](https://github.com/websharks/comment-mail/issues/132).

[2015-10-08 02:18] raamdev commented on #131
Next Pro Release Changelog:

- **Enhancement**: Added a "Pro" label to the plugin name to clearly indicate when the Pro version of Comment Mail is installed. Props @kristineds. See [Issue #131](https://github.com/websharks/comment-mail/issues/131).

[2015-10-08 02:26] raamdev commented on #123
Next Lite Release Changelog:

- **Enhancement**: Added a note to the default email templates when RVE (Replies via Email) is enabled, warning email readers that "Your reply will be posted publicly and immediately." Props @Reedyseth. See [Issue #123](https://github.com/websharks/comment-mail/issues/123).

[2015-10-08 02:27] raamdev commented on #123
Next Pro Release Changelog:

- **Enhancement**: Added a note to the default email templates when RVE (Replies via Email) is enabled, warning email readers that "Your reply will be posted publicly and immediately." Props @Reedyseth. See [Issue #123](https://github.com/websharks/comment-mail/issues/123).

[2015-10-08 02:33] raamdev commented on #122
Next Lite Release Changelog:

- **Enhancement**: Removed references to "CAN-SPAM Act", which is a United States law that may not be understood or applicable to Comment Mail users outside of the United States. Props @Li-An and @kristineds. See [Issue #122](https://github.com/websharks/comment-mail/issues/122).

[2015-10-08 02:33] raamdev commented on #122
Next Pro Release Changelog:

- **Enhancement**: Removed references to "CAN-SPAM Act", which is a United States law that may not be understood or applicable to Comment Mail users outside of the United States. Props @Li-An and @kristineds. See [Issue #122](https://github.com/websharks/comment-mail/issues/122).

[2015-10-08 02:39] raamdev commented on #118
Next Lite Release Changelog:

- **Enhancement**: Added the default translation file. Translators can now build translations using the default translation file located in `includes/translations/`. Props @kristineds. See [Issue #118](https://github.com/websharks/comment-mail/issues/118).

[2015-10-08 02:39] raamdev commented on #118
Next Pro Release Changelog:

- **Enhancement**: Added the default translation file. Translators can now build translations using the default translation file located in `includes/translations/`. Props @kristineds. See [Issue #118](https://github.com/websharks/comment-mail/issues/118).

[2015-10-08 02:41] raamdev commented on #117
Next Lite Release Changelog:

- **Enhancement**: Improved the on-hover color when hovering the mouse over Option Panels in the Comment Mail Options by changing it from green to dark blue. Props @kristineds. See [Issue #117](https://github.com/websharks/comment-mail/issues/117).

[2015-10-08 02:42] raamdev commented on #117
Next Pro Release Changelog:

- **Enhancement**: Improved the on-hover color when hovering the mouse over Option Panels in the Comment Mail Options by changing it from green to dark blue. Props @kristineds. See [Issue #117](https://github.com/websharks/comment-mail/issues/117).

[2015-10-08 02:43] raamdev commented on #116
Next Lite Release Changelog:

- **Bug Fix**: Removed a UTF-8 "Branch Icon" in the default email templates that was not showing up properly in some email clients. Props @renzms @kristineds. See [Issue #116](https://github.com/websharks/comment-mail/issues/116).

[2015-10-08 02:43] raamdev commented on #116
Next Pro Release Changelog:

- **Bug Fix**: Removed a UTF-8 "Branch Icon" in the default email templates that was not showing up properly in some email clients. Props @renzms @kristineds. See [Issue #116](https://github.com/websharks/comment-mail/issues/116).

[2015-10-08 02:50] raamdev commented on #72
Next Lite Release Changelog:

- **Enhancement**: Improved the Subscriptions table and the Event Log UI by using proper case for Status and Event values. Props @kristineds. See [Issue #72](https://github.com/websharks/comment-mail/issues/72).

[2015-10-08 02:50] raamdev commented on #72
Next Pro Release Changelog:

- **Enhancement**: Improved the Subscriptions table and the Event Log UI by using proper case for Status and Event values. Props @kristineds. See [Issue #72](https://github.com/websharks/comment-mail/issues/72).

[2015-10-19 11:16] kristineds opened #147 "Improve Color Scheme for Template to Enhance Readability"
Referencing:  https://wordpress.org/support/topic/two-suggestions-8?replies=1

------

-----

Templates referred to are the Email header/footer and Site templates. Perhaps something like this:
Color Scheme: [`#282A36, #DA5647, #F5AB55, #71DA8C, #57AFBD`]

![screen shot 2015-10-19 at 6 56 34 pm](https://cloud.githubusercontent.com/assets/7514953/10576410/a749f88c-7695-11e5-9961-61fcdb36aaa4.png)

[2015-10-19 11:27] kristineds opened #148 "Add Ability to Auto-Subscribe Specific User Roles"
Referencing:  https://wordpress.org/support/topic/two-suggestions-8?replies=1

[2015-10-20 00:08] raamdev commented on #148
Is this referring to auto-subscribe to the comments for a post? Or auto-subscribe to a specific mailing list?

[2015-10-20 00:13] raamdev commented on #147
It would be nice to have a toggle somewhere that allows either changing the style, or just disabling syntax highlighting altogether. (Both would be ideal.)

[2015-10-20 14:47] jaswsinc commented on #148
Possible short-term workaround:

![2015-10-20_06-46-49](https://cloud.githubusercontent.com/assets/1563559/10610935/67ad5046-76f6-11e5-8752-1c86a18295f0.png)

[2015-10-20 20:50] bonest opened #149 "Turn off comment subscriptions on specific custom post types"
Hi.

If you use Woocommerce, then Comment-mail subscription form is shown on the reviews tab.
If you use any other plugin that creates a custom post type, and uses comments you have the same problem.

I have a big issue with this, and I own a PRO license, I really need a way to disable the subscription form for comments to specific post types.

I really need a quick fix for this because I have a p

[2015-10-20 21:34] KTS915 commented on #148
@raamdev,

"Is this referring to auto-subscribe to the comments for a post? Or auto-subscribe to a specific mailing list?"

As I understand it, the current Auto-Subscribe feature (to which @jaswsinc has pointed in the graphic above) relates to all posts of a particular type. That is what I am looking for, but with functionality extended to user roles (including custom user roles), so that certain

[2015-10-21 00:04] raamdev commented on #148
@KTS915 I see. Thank you for the clarification! So an additional field that allows you to define a list of User Roles so that any users associated with those roles should automatically be subscribed to any posts of the post type listed in the "Auto-Subscribe Post Types" field, is that correct?

If so, I'm seeing a potential performance issue here. What if there were thousands of users associated w

[2015-10-21 00:24] raamdev commented on #149
@jaswsinc Correct me if I'm wrong, but I don't believe there's currently a way to do this, correct? I was looking for a filter that we could hook into to hide the subscription options for certain post types, but I wasn't able to find any. Do you agree that adding the following filter to [this function](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/comment-

[2015-10-21 01:55] jaswsinc commented on #149
@bonest You can do this by editing the template file in advanced mode.

See: **Dashboard → Comment Mail → Site Templates**

![2015-10-20_17-53-32](https://cloud.githubusercontent.com/assets/1563559/10625770/a6702d32-7753-11e5-8344-47274e472768.png)

Referencing: https://codex.wordpress.org/Function_Reference/get_post_type

[2015-10-21 01:55] jaswsinc commented on #149
![2015-10-20_17-53-06](https://cloud.githubusercontent.com/assets/1563559/10625774/b964d050-7753-11e5-8d8f-b50919270092.png)

[2015-10-21 01:56] jaswsinc commented on #149
Yes, I agree!

[2015-10-21 02:24] raamdev commented on #149
@jaswsinc My feeling is that Comment Mail should only be showing Comment Subscriptions on `post` Post Types and excluding all other posts types by default. Then there should be some way to _enable_ Comment Subscriptions on other post types where a site owner might have a specific Custom Post Type that they wish to show the Comment Subscriptions options on.

[2015-10-21 02:33] jaswsinc commented on #149
Hmm. Well, I'm not sure.

This actually comes as a surprise to me. I didn't realize there were a lot of plugins that used WordPress comments in a way that would make coupling them with subscriptions undesirable. If a particular type of Post is configured to use comments, then Comment Mail will be enabled along with the comments. If comments are not used, then they will not be; i.e., Comment Mail r

[2015-10-21 02:40] raamdev commented on #149
That seems to assume that any Custom Post Types that allow comments are designed for the same type of comments as Posts (i.e., discussion), which in my mind seems rather unlikely.

Think about what scenarios you would create a Custom Post Types that supports comments: The example that @bonest gave us above is a good one. A CPT that allows comments (i.e., makes use of the WordPress comment system)

[2015-10-21 02:44] jaswsinc commented on #149
Great points. Thank you. I'm fine with them being enabled for `post` types only by default then.

[2015-10-21 02:58] raamdev commented on #149
Cool. :-) So we should add a new option in **Comment Mail → Config. Options → Comment Form** towards the bottom called **Enable Comment Form for Custom Post Types (Comma-Delimited)** that allows supplying a comma-delimited list of CPTs (just like **Comment Mail → Config. Options → Auto-Subscribe Settings → Auto-Subscribe Post Types (Comma-Delimited)**) and the field should include only `post` by d

[2015-10-21 07:17] bonest commented on #149
Thank you for including me in your discussion. I can tell by reading the communication that you understand the issue.

Jason you suggested that I could remove the form in Advanced mode.

But this is not quit enough, since the plugin also hooks into the comment_post action which is fired after the comment has been inserted.
I guess this adds the subscription to the notification queue.

So even if t

[2015-10-21 14:46] KTS915 commented on #148
@raamdev,

In those circumstances, I agree that there would be a performance issue. But I'd say that that is just something for the user to consider, perhaps prompted by a warning in the style that WebSharks often provides alongside options to select various functions in its plugins.

The sites for which I'm envisioning using this functionality are essentially intranets (which means there also won

[2015-10-21 22:19] raamdev commented on #148
Right, I wasn't referring to emails being sent out. (Comment Mail already has a queue system for that anyway, to handle large volumes of outgoing email.) I was referring to the fact that a new comments subscription for each user would need to be created in the database whenever a new post is created.

I'll wait for thoughts on performance issues from @jaswsinc. :-)

[2015-10-21 22:42] jaswsinc commented on #148
It could be, yes. However, it would take several hundred inserts for that to be a real concern. A few extra queue insertions to cover other roles should be just fine.

This is the [source file](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/sub-auto-injector.php) that will need to be updated. I'll come back to this soon! :-)

[2015-10-21 22:50] jaswsinc commented on #149
@bonest If the markup is not there, the actions [will not fire](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/includes/classes/comment-post.php#L80), because the form data that triggers Comment Mail will not be there. So if you exclude the Comment Form additions presented by Comment Mail, that should fix you up in the short term.

[2015-10-21 22:53] jaswsinc commented on #149
By "exclude", I mean https://github.com/websharks/comment-mail/issues/149#issuecomment-149756068

[2015-10-25 01:23] KTS915 commented on #144
This would make the plugin exceptionally powerful.

[2015-10-25 22:29] bonest commented on #149
Hi guys.

I tried to remove filters, because I would like to avoid switching to advanced template. Because I have spend hours styling and translating the simple templates. It takes time testing as you know.

But I can tell that it is impossible to remove the filters, to remove the form.

Do  you have an ETA for when this could be fixed?

[2015-10-26 23:12] raamdev commented on #149
@bonest You can modify `includes/classes/comment-form-after.php` and add the following code [after this line](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/comment-form-after.php#L53):

[code]

Then you can create an [MU-Plugin](http://codex.wordpress.org/Must_Use_Plugins) (create this file and directory: `wp-content/mu-plugins/maby-disable-comment-mail-fo

[2015-10-27 09:11] jaswsinc commented on #147
## Overview

This syntax highlighting is a feature provided (and themed by) CodeMirror. See [theme demos](https://codemirror.net/demo/theme.html) to experiment with other themes. See also: [this line of code in Comment Mail](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L1068) where the CodeMirror theme is loaded; i.e., to get a general sense of how this

[2015-10-27 10:32] jaswsinc commented on #149
## Next Actions (Pro Version)

- New feature branch in the `websharks/comment-mail-pro` repo.

- After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L391) add a new option key.

[code]

- Replace [these lines of code](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L998-L1003) with the following:

[co

[2015-10-27 11:35] jaswsinc commented on #148
## Next Actions (Pro Version)

- New feature branch in the `websharks/comment-mail-pro` repo.

- After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L440) add a new configurable option key.

[code]

- After [this line](https://github.com/websharks/comment-mail-pro/blob/28bbe8b88b59a77e3632938d5c72314ff86488a2/comment-mail-pro/includes/classes

[2015-10-27 11:53] jaswsinc commented on #138
## Overview

We don't yet know what is causing this bug. However, there is a simple step that we can take to try and get a better Exception with details that might help us determine what is happening.

## Next Actions (Pro Version)

- New feature branch in the `websharks/comment-mail-pro` repo.

- Replace [this line](https://github.com/websharks/comment-mail/blob/150709/comment-mail/includes/class

[2015-10-27 12:02] jaswsinc commented on #114
Marking this as needs testing. I will come back to this next week and take a closer look once some of the other open issues are closed and we are all working to test the dev branch. Hopefully I can test the work that was done in this issue and also close [this other related issue](https://github.com/websharks/comment-mail/issues/134) at the same time.

[2015-10-27 21:48] bonest commented on #149
Thanks Raam

That worked perfectly.

Kind Regards

Henrik

[2015-10-27 23:56] jaswsinc commented on #115
Next Release Changelog:

- (Comment Mail Pro) **Documentation Improvement:** The KB article that provides instructions for [setting up Facebook as a Comment Mail SSO Provider](http://comment-mail.com/kb-article/sso-integration/#-facebook) has been updated to include two additional steps. Props @kristineds. See also: [this GitHub issue](https://github.com/websharks/comment-mail/issues/115) if you'd

[2015-10-27 23:56] #115 closed

[2015-10-28 00:12] jaswsinc commented on #146
In WP v4.4 the hooks have changed the location of the SSO login buttons and the Comment Subscription Options fields. I don't see a problem here, but the presentation has been altered slightly.

![2015-10-27_16-10-40](https://cloud.githubusercontent.com/assets/1563559/10776348/735e6a9a-7cc5-11e5-8451-26a456788d04.png)

[2015-10-28 00:24] jaswsinc commented on #78
I have been working with `utf8mb4` quite a bit in some recent projects. I just took another look at the Comment Mail source code and the tables that we use. I'm not seeing any compatibility issues against the latest versions of WordPress and these table changes.

As for Comment Mail itself, it currently uses the `utf8` charset and `utf8_unicode_ci` tables. Tables that use `utf8mb4` would be a litt

[2015-10-28 00:24] #78 closed

[2015-10-28 00:30] jaswsinc opened #150 "PSR 2/4 Compliance"
- [x] The entire codebase should be formatted for PSR-2 compliance.
- [x] Instead of using Git Submodules, we should switch to Composer.
- [x] Convert to Phing build script if possible.
- [x] Consider building the lite variation from the pro version like ZC.
- [x] Resolve [this bug](https://github.com/websharks/comment-mail/issues/173#issuecomment-181420932) whenever reformatting and cleanup takes

[2015-10-28 00:39] jaswsinc commented on #67
Noting that the project outline that I put together for this before was not a full set of instructions. It was an overview of what will be needed for this improvement to be made possible. See: https://quire.io/w/Yx2VYsoJkIs4L6P3pfFuVDVg/Improve_URL_utility_...

At some point, one of us will need to take a closer look at this and perhaps build a more polished set of instructions so that we can assi

[2015-10-28 01:31] jaswsinc commented on #73
## Next Actions (Pro Version Only)

- New feature branch in the `websharks/comment-mail-pro` repo.

- After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/includes/classes/utils-sso.php#L151) add the following:

[code]

- After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L687) add the following:

[cod

[2015-10-28 01:58] jaswsinc commented on #148
_**Tip:** While working on this issue you can take note of the way that Constructors work in PHP. See: http://php.net/manual/en/language.oop5.decon.php_

_Notice [this line](https://github.com/websharks/comment-mail-pro/blob/28bbe8b88b59a77e3632938d5c72314ff86488a2/comment-mail-pro/includes/classes/sub-auto-injector.php#L83) in the code you're working on. Perhaps run some tests locally with sample

[2015-10-28 02:07] jaswsinc commented on #138
@renzms While you're working on this, please change the call to `esc_html()` in [this line of code](https://github.com/websharks/comment-mail/blob/150709/comment-mail/includes/classes/utils-sub.php#L598). It should be `esc_sql` instead of `esc_html`. That's not the bug causing this problem, but it _is_ a bug nonetheless. To learn more, see: https://codex.wordpress.org/Function_Reference/esc_sql

[2015-10-28 02:28] raamdev commented on #149
@jaswsinc I'm tweaking the note underneath the new "Enabled for Post Types" field a bit:

![2015-10-27_22-27-01](https://cloud.githubusercontent.com/assets/53005/10778210/f9e93778-7cf9-11e5-9258-478ef9d6c603.png)

[2015-10-28 02:50] jaswsinc commented on #149
Cool. That is much better.

[2015-10-28 03:14] raamdev commented on #149
Next Pro Release Changelog:

- **Enhancement**: Comment Mail is now only enabled for the standard `post` Post Type by default and there's a new "Enable for Post Types" option inside _Comment Mail → Config. Options → Enable/Disable_ that allows you to specify a comma-delimited list of Post Types that Comment Mail should be enabled for. It's also possible to enable Comment Mail on all Post Types tha

[2015-10-28 03:14] raamdev commented on #149
Next Lite Release Changelog:

- **Enhancement**: Comment Mail is now only enabled for the standard `post` Post Type by default and there's a new "Enable for Post Types" option inside _Comment Mail → Config. Options → Enable/Disable_ that allows you to specify a comma-delimited list of Post Types that Comment Mail should be enabled for. It's also possible to enable Comment Mail on all Post Types th

[2015-10-28 03:14] #149 closed

[2015-10-28 03:17] jaswsinc commented on #150
- Convert to Phing build script if possible.
- Consider building the lite variation from the pro version like ZC.

[2015-10-28 03:29] jaswsinc commented on #147
@kristineds While working on this issue feel free to choose a different default theme if you find another that you feel would work better as a default syntax theme/style.

The current default is:

[code]

[2015-10-28 04:17] raamdev commented on #146
I suggest we move the Comment Mail Subscription Options to the bottom of those fields, just after **Website** and just before the **Post Comment** button. That would be in align with why these changes to the comment form layout were introduced in the first place (prioritize the Comment → Name → Email, followed by other fields/options).

It also makes sense that the CM options should come just befo

[2015-10-28 04:38] raamdev opened #152 "Undefined Indexes (Pro options in Lite)"
Installing the current `000000-dev` branch of Comment Mail Lite with debugging enabled generates the following:

[code]

Here's [L824 in `plugin.inc.php`](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/plugin.inc.php#L824); why are we even going through Pro options keys there in the Lite version?

[2015-10-28 04:46] raamdev opened #153 "PHP Parse error: syntax error, unexpected ','"
### Steps to reproduce this bug

- Install Comment Mail Lite `000000-dev` branch on a fresh WordPress install, activate, and enable Comment Mail
- Edit the "Hello World" post and click the "0 Subscriptions" in the Comment Mail meta box

![2015-10-28_00-45-18](https://cloud.githubusercontent.com/assets/53005/10779881/388c0cae-7d0d-11e5-842b-6ae62a4607cd.png)

### Expected Behavior

Bring me to the

[2015-10-28 04:58] raamdev commented on #138
I attempted to reproduce this bug by setting up a completely fresh installation of WordPress, installing Comment Mail Lite (from `000000-dev`) and then editing the sole "Hello World" post. I also tried installing Comment Mail Lite v150709 (from WordPress.org) on the same clean installation and repeating the same steps. I was not able to reproduce the Fatal Error Pat describes in this GitHub issue.

[2015-10-28 08:36] jaswsinc commented on #153
## Next Actions

- New feature branch in the `websharks/comment-mail-pro` repo.

- Replace [this line](https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/includes/classes/menu-page-table-base.php#L614) with the following:

[code]

- Replace [this line](https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/includes/classes/menu-page-table-base.ph

[2015-10-28 09:38] jaswsinc commented on #146
Agree.

[2015-10-28 09:45] jaswsinc commented on #138
@renzms While you're working on this, please change [this line](https://github.com/websharks/comment-mail/blob/150709/comment-mail/includes/classes/utils-sub.php#L597) also.

Change:

[code]

To:

[code]

We need to select the `email` so that when/if `$group_by_email` is enabled in this method, there is something to `GROUP BY`. The `ID` is wrong, it should be `email`.

---

Still, I searched the c

[2015-10-28 12:49] patdumond commented on #138
@raamdev wrote: I was not able to reproduce the Fatal Error Pat describes in this GitHub issue.

I have never been able to reproduce it either although I've installed (various versions) of Comment Mail on several sites. After I reinstalled Comment Mail on the site that had the original problem I've never seen it again. The only difference between that site and the other sites I've installed it on

[2015-10-28 21:42] jaswsinc commented on #153
Merged both PRs. Thanks @kristineds  and thanks @raamdev for reporting!

[2015-10-28 21:42] #153 closed

[2015-10-28 21:53] jaswsinc commented on #153
_Noting that this bug was introduced in https://github.com/websharks/comment-mail/pull/145, which has never been released; i.e., this bug only impacted the dev branch. Skipping changelog entry for that reason._

[2015-10-28 22:01] jaswsinc commented on #152
@raamdev Thanks for reporting this.

That is there so that it is not possible to save any pro-only option keys in the lite version. It's one part of what makes a pro-preview possible in the lite version, and also what makes it possible for us to use an exact copy of the `menu-page.php` file for both versions of the software.

The iteration is making sure that all pro-only option keys have a defaul

[2015-10-28 22:03] jaswsinc commented on #152
## Next Actions (Lite Version Only)

- New feature branch in `websharks/comment-mail` repo.

- After [this line](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/plugin.inc.php#L670) add the missing pro-only option keys.

  _See missing keys here that exist in the pro version. These need to exist in the lite version also please: https://github.com/websharks/comment-mail-pro/b

[2015-10-28 22:10] jaswsinc commented on #150
Assigning this issue to myself. This needs to be done sooner rather than later; if I can find the time. At the moment, we are all juggling both the old and the new formatting styles and there is no easy way for us to all get on the same page when it comes to the Comment Mail codebase.

[2015-10-28 22:24] jaswsinc commented on #153
@kristineds You might have noticed the `{}` curly brackets while working on this issue and on the original PR that you worked on where the i18n utilities were being modified; i.e., where you added the `, 'ucwords'` parameter to several function calls as an enhancement.

I thought I'd try to point out why curly brackets are used, and how they work. See also: [this article](http://stackoverflow.com/

[2015-10-29 15:09] kristineds commented on #115
:+1:

[2015-10-29 23:12] jaswsinc commented on #152
@kristineds Thanks! :-)

_I'm going to skip the changelog entry for this work, since this problem existed only in the dev branch following some recent work to integrate MailChimp into the pro version._

[2015-10-29 23:12] #152 closed

[2015-11-04 06:15] jaswsinc commented on #73
Next Pro Release Changelog:

- **SSO Improvement:** If you have Comment Mail's SSO integration enabled and have users who are registering an account via Facebook, Twitter, LinkedIn, or Google+, the SSO service that a particular user (or commenter) signed up with is now shown in the list of Users. Props @kristineds See also [this GitHub issue](https://github.com/websharks/comment-mail/issues/73) if

[2015-11-04 06:15] #73 closed

[2015-11-04 07:56] jaswsinc commented on #146
## Next Actions (Pro Version)

- New feature branch in the `websharks/comment-mail-pro` repo.

- Comment out [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L702); i.e., leave it there, but please `// `comment it out.

- After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L702) add the fol

[2015-11-04 08:21] jaswsinc commented on #124
## Next Actions (Pro Version; Step 1 of 3)

- New feature branch in the `websharks/comment-mail-pro` repo.

- After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/includes/templates/type-a/email/comment-notification/message.php#L201) add the following, or something like the following (at your discretion):

[code]

- Adjust the above code snippet so that it b

[2015-11-04 08:28] jaswsinc commented on #124
Somewhat related to: https://github.com/websharks/comment-mail/issues/77

[2015-11-04 19:44] raamdev opened #158 "Feature Request: Allow subscribers to edit Subscription Type on existing subscription"
While it's possible to change the Status and Delivery options for an existing subscription, it's not currently possible to modify the Subscription Type ('all comments' vs 'replies to my comments'):

![2015-11-04_14-40-23](https://cloud.githubusercontent.com/assets/53005/10949764/8b2c994c-8302-11e5-9a77-7959aa611d60.png)

Having such an option would be very useful. If someone subscribes with 'repli

[2015-11-05 02:47] renzms commented on #148
![comment mail config options renz s test area wordpress](https://github-cloud.s3.amazonaws.com/assets%2F13220018%2F10958579%2F9590be60-83aa-11e5-92e8-d24e494d39b0.jpg)

Submitting PR for Pro version.

[2015-11-05 03:49] jaswsinc commented on #148
@renzms Woohoo!!!! :octocat:  That's fantastic. Love that feature.

Couple of minor enhancements I'd like to request... See screenshot.

![2015-11-04_18-46-47](https://cloud.githubusercontent.com/assets/1563559/10959419/b9cc56b2-8324-11e5-9ed0-f74b67bdcca2.png)

[2015-11-05 05:24] jaswsinc commented on #146
Next Release Changelog:

- **WP v4.4 Compat.** This release improves compatibility with subtle changes to `comment_form_*` hooks in WordPress v4.4+. Props @kristineds and @raamdev. See also: [this GitHub issue](https://github.com/websharks/comment-mail/issues/146) if you'd like additional details.

[2015-11-05 05:24] #146 closed

[2015-11-05 16:40] KTS915 commented on #148
@renzms, @jaswsinc,

This looks great! I am looking forward to testing it out!

[2015-11-06 02:54] renzms commented on #148
![comment mail config options renz s test area wordpress 1](https://cloud.githubusercontent.com/assets/13220018/10988119/8e5166ac-8474-11e5-9be4-4a4fbd9be3fb.jpg)

@KTS915 Thanks!

@jaswsinc Will that do?

[2015-11-06 03:26] jaswsinc commented on #148
@renzms Yes! That's just about got it.

Here's what you have now...

I suggest the following changes:

- Capitalize "Roles" in this context.
- Link the first instance of "WordPress Roles" to [this page](https://codex.wordpress.org/Roles_and_Capabilities).
- Change the wording slightly, as seen below.

---

A list of [WordPress Roles](https://codex.wordpress.org/Roles_and_Capabilities) can be provi

[2015-11-06 04:18] jaswsinc commented on #148
@KTS915 You can grab yourself a free copy of Comment Mail Pro using coupon code: `KTS915`. Good for you only. I'd love to hear any feedback that you have. Free [checkout here](https://comment-mail.com/checkout/?type=unlimited&s2-ssl=yes&s2p-coupon=KTS915).

Once you get signed up over at comment-mail.com, you can also visit this page to join our beta list, and that way you'll get an early copy of

[2015-11-06 04:39] KTS915 commented on #148
@jaswsinc,

Wow, thanks very much! That's very generous of you. I have just signed up.

[2015-11-06 04:50] jaswsinc commented on #148
It's the least we can do. I'm looking forward to a day when you might consider working with us :-) I think I speak for everyone on our team when I say that we _really_ appreciate everything that do for the community, and that we all value your feedback and contributions here at GitHub as well.

[2015-11-06 05:05] KTS915 commented on #148
Well, that's very nice of you. I'm not sure what you have in mind, but if you'd like to talk via email, I'd be happy to do that.

[2015-11-06 05:13] jaswsinc commented on #148
Cool. That would be great. If you can send your contact info to `devs` %at% `websharks-inc.com` I will get back to you.

[2015-11-07 22:41] renzms commented on #148
![comment mail config options renz s test area wordpress 2](https://cloud.githubusercontent.com/assets/13220018/10988851/23ceeee2-847b-11e5-9a36-afaa3169ebbe.jpg)

Submitting PRs (Lite and Pro)

[2015-11-09 13:55] jaswsinc commented on #148
Next Release Changelog:

- (Comment Mail/Comment Mail Pro) **Auto-Subscribe Roles:** This release makes it possible to auto-subscribe specific user Roles in WordPress, to every post automatically. Props @renzms and @KTS915.  See also: [this GitHub issue](https://github.com/websharks/comment-mail/issues/148) if you'd like additional details.

[2015-11-09 13:59] jaswsinc commented on #147
Next Pro Release Changelog:

- (Comment Mail Pro) **Theme Syntax Highlighting:** This release makes it possible for the color-scheme used in template file syntax highlighting to be changed to any one of 30+ options. See: **Dashboard → Comment Mail → Config. Options → Template-Related Settings**. Props @kristineds. See also: [this GitHub issue](https://github.com/websharks/comment-mail/issues/147)

[2015-11-09 13:59] #147 closed

[2015-11-09 14:02] jaswsinc commented on #138
@renzms I just wanted to let you know that the work I outlined [here](https://github.com/websharks/comment-mail/issues/138#issuecomment-151467507) as it pertains to this issue is still relevant; i.e., even though we discussed some other things here, that change is still needed to help us debug this.

[2015-11-10 01:09] renzms commented on #138
@jaswsinc Made the changes from the original outline as well as the additional changes you mentioned in the next set of instructions.

I was unable to reproduce the Bug originally mentioned by Pat, should I find a way another way to test the changes?

[2015-11-10 05:22] jaswsinc commented on #138
Next Release Changelog:

- **Exception Handling:** This release improves the exception handling in a specific routine that has been reported to cause some trouble at certain times. Still a mystery at this point, but we hope that this new release with improved exception handling will help us finally track down this elusive bug. Props @renzms @patdumond. See: [this GitHub issue](https://github.com/w

[2015-11-10 05:22] #138 closed

[2015-11-10 05:22] jaswsinc commented on #138
@renzms Perfect! Thanks for those PRs. Both merged :-) :100:

[2015-11-12 18:10] raamdev commented on #148
@jaswsinc @renzms We should clarify this new Auto-Subscribe Roles feature a bit more in the description. Right now it says:

However, that sentence leaves me with several questions: Does "auto-subscribe all users who have one of those Roles, to every post automatically" mean that all users with those roles will immediately have a subscription to every post created, even for existing posts? (I assu

[2015-11-12 18:13] jaswsinc commented on #148
I agree. That is more descriptive and more accurate. @renzms If you could submit another PR to make that adjustment I'd really appreciate it.

[2015-11-12 18:17] raamdev commented on #148
@renzms Note that you'll need to submit a PR for both Lite and Pro versions.

[2015-11-13 04:39] renzms commented on #148
@jaswsinc @raamdev
Lite and Pro PR's submitted.

[2015-11-13 15:53] jaswsinc commented on #148
@renzms @raamdev Beautiful. Thank you!

[2015-11-13 15:53] #148 closed

[2015-11-23 21:36] raamdev opened #162 "StCR Import Bug: "All Replies" subscriptions treated as "Replies Only To Self""
## Steps to reproduce this bug

1. Install, activate, and enable StCR
1. Leave a comment on a post and select "All" to receive notifications for all new comments on the post
1. Install, activate, and enable Comment Mail Lite (confirmed with v150709)
1. Run the StCR → Comment Mail import process to import the StCR subscription
1. Disable StCR
1. Leave a new comment on the post that contained the su

[2015-11-23 21:47] raamdev opened #163 "Improve Dashboard Notices"
## Improve "Upgrading from StCR" message:

**Before:**
![2015-11-23_16-06-26](https://cloud.githubusercontent.com/assets/53005/11350721/ee64d0e4-9200-11e5-9d5e-ab68534758ed.png)

**After:**
![2015-11-23_16-16-31](https://cloud.githubusercontent.com/assets/53005/11350716/e75e3eac-9200-11e5-9bca-c465ea5d2fec.png)

## Add "Comment Mail is disabled" message

It's easy to forget that Comment Mail has n

[2015-11-24 02:58] raamdev commented on #135
@jaswsinc writes...

[2015-11-24 02:58] #135 closed

[2015-11-24 03:06] jaswsinc commented on #108
Somewhat related to https://github.com/websharks/comment-mail/issues/158 in code.

[2015-11-24 03:22] jaswsinc commented on #163
Regarding this issue. There is a special file in Comment Mail that is dedicated to StCR migration routines. See: https://github.com/websharks/comment-mail-pro/blob/28bbe8b88b59a77e3632938d5c72314ff86488a2/comment-mail-pro/includes/stcr.php#L96

The notice that Raam referenced in that issue can be found and tweaked in that file.

[2015-11-26 08:06] kristineds commented on #163
@jaswsinc @raamdev Where can I add the "Comment Mail is disabled" message? I'm seeing this after enabling both CM and StCR on my directory.

![CM + StCR notice](https://cloud.githubusercontent.com/assets/7514953/11418087/7c167ba6-9457-11e5-9581-2ea4ccbd8154.png)

[2015-11-26 20:23] KTS915 opened #164 "How to change the CSS for the Add New Subscription Page?"
I have been playing with the (Pro) plugin, but cannot find a way to change the CSS for the Add New Subscription Page, except for the Header and Footer. I really need to change both the fonts and color scheme.

I have also found files with numerous calls out to Google, MaxCDN, and Cloudflare -- obviously to set the fonts and such -- none of which I want. How can I turn them all off, please?

[2015-11-26 20:30] KTS915 commented on #164
The same questions apply for the My Comment Subscriptions page.

[2015-11-26 20:49] jaswsinc commented on #164
@KTS915 Try changing your template mode to "Advanced". See attached screenshot. That should give you full access to everything that is used in all of the raw template files.

![2015-11-26_11-47-34](https://cloud.githubusercontent.com/assets/1563559/11430476/9b33c81e-9433-11e5-9d16-094d38831c0c.png)

[2015-11-26 21:14] KTS915 commented on #164
Aha! All is revealed! I hadn't even noticed that option! Thank you!

But now I see that I have two new issues. One is that Comment Mail is offering to let me subscribe to pages, even though I have comments on pages turned off. The second is that I don't understand the Comment box. It seems that this should be set as a numeral, but to what does the number correspond?

[2015-11-26 21:30] KTS915 commented on #164
Now I see that this Comment box is offering me numbers only on posts and pages that have no comments. Obviously, it shouldn't be possible to comment on pages at all if comments are turned off, but it would also be good if this box didn't offer any options other than All Comments/Replies if the post has not so far received any comments.

[2015-12-01 00:24] jaswsinc commented on #163
@kristineds Great question. I will work on an outline for this and come back that soon.

[2015-12-01 02:23] kristineds commented on #163
Great. Thanks! :+1:

[2015-12-01 05:28] jaswsinc commented on #163
## @kristineds Next Actions

- After [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/plugin.inc.php#L1955) add the following:

[code]

---

Please repeat in the lite version.

[2015-12-01 06:56] jaswsinc commented on #162
Next Release Changelog:

- **StCR Import Bug Fix:** This release corrects an StCR importation bug. The bug was causing an existing StCR subscription with a `Y` status (i.e., one for all comments/replies) to be imported into Comment Mail on a per-comment basis. Therefore, a symptom of this bug was to find that you had multiple subscriptions imported for users who wanted _all_ comments, instead of t

[2015-12-01 07:02] jaswsinc commented on #163
@raamdev I suggest that we also alter the code snippet that I gave Kristine above. Once she pushes her next commit and you have a chance to test, let's see if it is better if do it this way.

[code]

This way the new (additional) notice is not shown unless there are no others; i.e., it will not be shown on activation, because we already have a notice for that, and we have several other StCR and co

[2015-12-01 07:04] jaswsinc commented on #162
_@raamdev I found no correlation between the comment ID and the subscription ID. I think that may have just been a coincidence. I noticed this happening too, but it was only because I had a new install to test with and the likelihood of that occurring was higher._

[2015-12-01 07:04] #162 closed

[2015-12-01 07:12] jaswsinc commented on #162
## Summary of StCR Import Behavior

- If the existing subscription has a `Y` (all comments) status, one new subscription is imported for that subscriber; i.e., they are subscribed to all comment/replies on a given post.

- If an existing subscriber has no `Y` status, or has any `R` (replies only) status, instead of subscribing the user to all comments/replies, we import subscriptions on a per-comm

[2015-12-01 07:23] Reedyseth opened #166 "StCR Import Bug: Incorrect number of Post and Subscriptions imported"
I detected this issue a while a go in a previous versions of CM, don't remember what version :), but as for the current version the issue still there.

This is what I did:

*    Checked my current Subscriptions with this query.
[code]
*    Updated Comment Mail to the latest version 27e0663.
*    Activate Comment Mail.
*    Use the import wizard and got this result.

![image](https://cloud.githubus

[2015-12-01 07:25] Reedyseth commented on #162
Is this related to #166 ?

[2015-12-01 07:58] jaswsinc commented on #166
Could be. Did you run this test with the `000000-dev` branch?
https://github.com/websharks/comment-mail/archive/000000-dev.zip

[2015-12-01 08:03] jaswsinc commented on #166
You have 36 subscriptions with StCR, but only 3 were imported by Comment Mail? That seems very wrong. Were all 36 of those confirmed and had a `Y` or `R` status?

I just tried to reproduce that but no luck yet.

[2015-12-01 08:12] Reedyseth commented on #166
Correct,

I did not check this one, will update with the result.

[2015-12-01 13:33] raamdev commented on #166
@jaswsinc writes...

That was my first thought too, which brings up a good thing to point out to users migrating from StCR → Comment Mail: unconfirmed subscriptions _are not_ imported. Is there any specific reason that is the case or are unconfirmed subscriptions simply being ignored?

[2015-12-01 21:39] jaswsinc commented on #166
They are ignored, because:

- I didn't see any reason they _needed_ to be imported.
- I was not entirely clear about what each of these possible flags meant. All I could understand for sure was that `Y` meant all comments and active and that `R` meant replies only and active.
- We worked together to achieve a specific set of rules that would be followed whenever the import takes place. See: https:

[2015-12-01 21:45] Reedyseth commented on #166
The code is my laptop but I will try to replicate the behavior on my desktop.

[2015-12-01 21:54] jaswsinc commented on #166
Referencing StCR import class members: https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/includes/classes/import-stcr.php

[2015-12-01 21:56] Reedyseth commented on #166
Thanks that will help to debug.

[2015-12-02 04:36] Reedyseth commented on #166
OK, just to keep updating this issue, I just ran this query:
[code]
meta_id|post_id|meta_key|meta_value
-------|-------|--------|----------
2|1|_stcr@_Doe@dot.com|	2013-07-08 18:05:20~R
6|4|_stcr@_Doe@dot.com|	2013-07-08 18:23:07~R
10|7|_stcr@_Doe@dot.com|	2013-07-08 18:45:18~R
43|1|_stcr@_arkamus@gmail.com|	2014-05-02 21:57:28~Y
48|31|_stcr@_arkamus@gmail.com|	2014-05-02 22:20:20~Y
93|40|_stcr@_b

[2015-12-02 04:45] jaswsinc commented on #166
Agree! Interesting. Thanks for posting that table. Really helps to clarify a lot.

[2015-12-02 04:49] jaswsinc commented on #166
@Reedyseth Can you please run one more query for me?

[code]

How many results do you get?

[2015-12-02 05:16] Reedyseth commented on #166
[code]
meta_id|	post_id|	meta_key	|meta_value
-------|-----------|----------------|----------
94|	1|	comment_mail_imported_stcr_subs	|1
95|	4|	comment_mail_imported_stcr_subs	|1
96|	7|	comment_mail_imported_stcr_subs	|1
97|	31|	comment_mail_imported_stcr_subs	|1
245|	34|	comment_mail_imported_stcr_subs	|1
98|	37|	comment_mail_imported_stcr_subs	|1
99|	40|	comment_mail_imported_stcr_subs	|1

But ru

[2015-12-02 05:22] jaswsinc commented on #166
Cool. Thanks! Do any of your posts have a status that is not `publish`?

See: https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/includes/classes/import-stcr.php#L353

[2015-12-02 05:33] Reedyseth commented on #166
They are. Now I am debugging Comment Mail.

[2015-12-02 06:45] Reedyseth commented on #166
OK, I run another test by cleaning up the database and now it imported the correct number of post_ids. On the results of the importation says 7 post IDs and 70 subscriptions, when I went to the CM subscription page there was 59 subscriptions as for the subscriptions in StCR are 36. I will keep debugging and clearing this up.

[2015-12-02 20:12] jaswsinc commented on #166
Cool. What did you have to clean up for it to work?

[2015-12-02 20:24] jaswsinc commented on #163
@kristineds Is this ready for another review also?

[2015-12-02 20:25] jaswsinc commented on #163
Nevermind! Too much vodka. I reviewed the PRs.

[2015-12-02 21:28] raamdev commented on #163
@jaswsinc writes...

I actually disagree. I think it's fine to have that notice always show up, even when there are other notices. The reason? Because if you have the Comment Mail plugin active, you probably intend to use it. If it's not enabled, then you're not using it and it makes sense to inform the site owner of as much. If the "Comment Mail is disabled" notice is annoying, then you should ju

[2015-12-02 21:31] Reedyseth commented on #166
I truncated the data on the `wp_comment_mail_subs` table as well as the entries on the Post Meta table with the filter `LIKE '%imported\_stcr\_subs%'`.

I poluted the database by running different test. The only thing that now concern me is the 59 Subscriptios on CM vs the 36 on StCR.

[2015-12-02 21:37] jaswsinc commented on #166
Copy that. Thank you for that testing! :-)

It's normal to have some difference in the counts. This can occur whenever you have `R` status subscribers. StCR doesn't have a record of which specific comments that a user subscribed to, only that they should receive replies to their comments only. In Comment Mail, a subscription is added to the entire post, or to specific comments by comment ID.

See

[2015-12-02 21:47] Reedyseth commented on #166
Alright, yes I noticed this behavior on the debugging session, but this clarify things up. I will run another detail debug about this and then come back to close the issue, thank you for the feedback.

[2015-12-02 21:51] raamdev opened #169 "Upgrading from StCR to Comment Mail Dashboad notice should disappear after importing StCR subscriptions"
The "Upgrading from StCR to Comment Mail" Dashboard notice should automatically disappear after running the StCR → Comment Mail import process. Once a site owner has reviewed the Import/Export tab and clicked the "Begin StCR Auto-Importation" button, that notice is no longer relevant. Right now it must be manually dismissed by clicking the "dismiss" link.

![2015-12-02_16-49-24](https://cloud.gith

[2015-12-02 21:56] raamdev commented on #166
@Reedyseth Please make sure that you're testing the latest dev version of Comment Mail, i.e., _after_ the work that Jason did to fix #162; see https://github.com/websharks/comment-mail/issues/162#issuecomment-160877461.

I was experiencing the same odd behavior with Comment Mail appearing to import a lot more subscriptions than it should (i.e., my Comment Mail Subscription Event Log showed many "i

[2015-12-02 22:00] Reedyseth commented on #166
Thanks for the insight.

[2015-12-02 22:30] raamdev commented on #108
@jaswsinc Regarding my last comment (https://github.com/websharks/comment-mail/issues/108#issuecomment-115447769), do we agree to nix the ability to Add a Subscription by specifying a Post and Comment? We need a resolution on this issue by Friday for the RC.

[2015-12-02 22:57] raamdev commented on #150
@jaswsinc Do you think we can close this issue in time for the RC (Friday, December 4th) or should I punt this to a Future Release milestone?

[2015-12-02 23:06] jaswsinc commented on #108
I haven't taken the time to think this through yet.

I'll just say that I agree (a quick fix) would be to nix the behavior on the front-end. I won't have time to work on this myself, because I am working on the MailChimp integration.

I can point out these files though.

`type-a` (advanced) template in pro version: https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/incl

[2015-12-02 23:13] raamdev commented on #108
I don't see any scenario where a visitor would want to do this from the frontend; I simply cannot imagine a visitor knowing ahead of time which specific Post and/or Comment they want to subscribe to without first visiting that Post or Comment. But I agree we can leave the code in place for now and simply hide this from the front-end.

Right, I think it's fine to have this for administrative purpos

[2015-12-02 23:16] jaswsinc commented on #150
I would punt this. I'm working on this, but even if I get it done before Friday it should go through a lot more testing than we have time for in the upcoming RC IMO.

[2015-12-02 23:18] jaswsinc commented on #150
I should note that I will probably push _some_ work on this together with my review and tweaks to the MailChimp integration. However, I plan to leave this open and continue working on this for the next couple weeks.

[2015-12-02 23:23] raamdev commented on #150
Copy that. Thank you.

[2015-12-03 09:46] kristineds commented on #163
@jaswsinc @raamdev Here are the updated PRs for both Pro and Lite

![screen shot 2015-12-03 at 5 36 41 pm](https://cloud.githubusercontent.com/assets/7514953/11557076/b495d9a2-99e5-11e5-8deb-6fd2f254f704.png)

- [Comment Mail Pro Pull Request](https://github.com/websharks/comment-mail-pro/commit/32aa1ae3db34c9f1b29ae38ad9160aec09b0e25c)
- [Comment Mail Lite Pull Request](https://github.com/webshar

[2015-12-03 13:35] renzms commented on #134
@raamdev Tested this with StCR, haven't experienced what was reported here: https://github.com/stcr/subscribe-to-comments-reloaded/issues/93

So it may only be occurring with Mailchimp for WordPress Pro like you said. I'll test some more and try with Comment Mail afterwards.

[2015-12-03 13:42] raamdev commented on #134
@renzms Thanks! Note that this issue also needs to be tested _after_ the work on https://github.com/websharks/comment-mail/issues/114 has been merged in.

[2015-12-03 13:43] raamdev commented on #134
@renzms Sorry, https://github.com/websharks/comment-mail/issues/114 has already been merged into `000000-dev`. So I should have said that MailChimp for WordPress + Comment Mail needs to be tested when the new MailChimp + Comment Mail integration (https://github.com/websharks/comment-mail/issues/114) is enabled.

[2015-12-03 13:48] raamdev commented on #163
@kristineds Thank you! That looks great. :smile:

[2015-12-04 16:36] renzms commented on #134
@raamdev Ok, no worries! So once #114 is completed/enabled, I'll go ahead and get back to this one!

[2015-12-04 20:45] raamdev commented on #134
It has already been merged into `000000-dev` so you can go ahead and test the dev branch.

[2015-12-05 00:31] Reedyseth commented on #163
OK, I just pull the latest commit c632e1c and after installing Comment mail I got the following notices.

![image](https://cloud.githubusercontent.com/assets/1228711/11604651/a7443362-9aac-11e5-8489-03accd1e26e5.png)

So basically the second notices is duplicated, at first I thought that I had my database corrupted but then after deleting the CM tables the same behavior pop up. Can you give it a t

[2015-12-05 00:55] raamdev commented on #163
@Reedyseth When testing dev branches or feature branches, you need to make sure that the previous version is _completely_ uninstalled. The best way to do this:

1. Visit **Comment Mail → Config. Options → Data Safeguards** and turn them off (so that no data is saved in the database)
1. Deactivate and then delete the plugin in **Dashboard → Plugins**

When Data Safeguards are disabled and you delet

[2015-12-05 01:42] Reedyseth commented on #163
I just get rid of the folder and the CM tables, I will follow those steps and let you now.

[2015-12-05 01:56] raamdev commented on #163
@Reedyseth writes...

Also, the best way to test is to checkout the branch you want to test. So to test this branch you would `git fetch origin && git checkout -b feature/163 origin/feature/163`. Then you can simply test the `comment-mail/` directory. If the `feature/163` branch is updated (i.e., someone pushes more commits to it), you can simply run `git pull` from inside the `feature/163` branch

[2015-12-05 21:38] jaswsinc opened #170 "WordPress v4.4 Compat"
## Overview

WordPress v4.4 introduces some new objects for `WP_Term` and `WP_Comment`. This is mostly OK with Comment Mail. However, it recently came to my attention that in PHP 7.0 there are some flags being thrown with respect to type hints that are looking for `\stdClass` instances instead of the new `WP_Comment` class.

## What needs to change?

We need to search the codebase for `\stdClass $

[2015-12-06 00:34] raamdev commented on #170
Closed by https://github.com/websharks/comment-mail/issues/171 and https://github.com/websharks/comment-mail-pro/issues/34

[2015-12-06 00:34] #170 closed

[2015-12-06 00:35] raamdev commented on #170
Next Release Changelog:

- **Compatibility:** Updated for compatibility with WordPress v4.4 and PHP v7.0. Props @jaswsinc. See [Issue #170](https://github.com/websharks/comment-mail/issues/170).

[2015-12-09 17:26] Reedyseth commented on #163
Thank you for that.

I had information contaminated on my database, so after allowing comment mail to get rid of all the plugin by clicking on the delete button some features remained on the database.

* I deleted the plugin directory from wp_content
* Delete all the Comment Mail tables:
[code]
* Delete all the CM options, on this case this is where all the corrupted data was located, more specifi

[2015-12-09 17:52] Reedyseth commented on #166
So I started with a new fresh installation of comment mail by doing this https://github.com/websharks/comment-mail/issues/163#issuecomment-163332011 and the started the migration process and I got this again:

![image](https://cloud.githubusercontent.com/assets/1228711/11693223/dfb7b6da-9e60-11e5-91a9-a3b7b534d80f.png)

![image](https://cloud.githubusercontent.com/assets/1228711/11693253/ff757c00-

[2015-12-09 19:05] raamdev commented on #166
@Reedyseth writes...

Thank you. We have a GitHub issue open for this already here: https://github.com/websharks/comment-mail/issues/169

Would you be able to provide us with a MySQL dump of the StCR data so that we can import and test this on our own sites?

[2015-12-09 19:16] Reedyseth commented on #166
Copy That I totally missed it, :smile:

Here is the SQL inserts http://paste.behstant.com/?paste=204 use the password `wpshark` to view the file.

Let me know if you need more information.

[2015-12-10 07:53] jaswsinc commented on #170
@raamdev I'm noting that this issue seems to impact all versions of PHP. Not just PHP 7+.

[2015-12-10 16:37] raamdev commented on #170
So this is entirely a WordPress v4.4 compatibility issue, i.e., Comment Mail is currently broken on WP 4.4 + any version of PHP?

[2015-12-10 17:10] jaswsinc commented on #170
Correct. However, it's not something that totally breaks the site, or that you're going to notice as soon as you upgrade. From what I've seen in the lite version, it only occurs whenever you change the status of a comment.

[code]

[2015-12-10 18:30] raamdev commented on #163
Next Pro Release Changelog:

- **Enhancement**: Improved Dashboard notices. The "Upgrading from Subscribe to Comments Reloaded" message has been improved and a new Dashboard notice lets you know when Comment Mail is disabled. Props @kristineds. See [Issue #163](https://github.com/websharks/comment-mail/issues/163).

[2015-12-10 18:30] raamdev commented on #163
Next Lite Release Changelog:

- **Enhancement**: Improved Dashboard notices. The "Upgrading from Subscribe to Comments Reloaded" message has been improved and a new Dashboard notice lets you know when Comment Mail is disabled. Props @kristineds. See [Issue #163](https://github.com/websharks/comment-mail/issues/163).

[2015-12-10 18:36] raamdev commented on #170
Updated changelog entry to indicate that this was a bug fix for WP v4.4:

- **Bug Fix:** Fixed a compatibility bug with WordPress v4.4. Props @jaswsinc. See [Issue #170](https://github.com/websharks/comment-mail/issues/170).

[2015-12-10 19:54] raamdev opened #172 "Begin StCR Auto-Importation button "appears" to do nothing (UI Issue)"
When you click the "Begin StCR Auto-Importation" button, there is no indication that clicking the button actually did anything.

![2015-12-10_14-41-25](https://cloud.githubusercontent.com/assets/53005/11726427/949edb96-9f4c-11e5-9685-c91110248ed5.png)

The problem is that clicking the button changes the box at the bottom of the page, which may be off the screen, and therefore the user has no indic

[2015-12-10 21:26] raamdev opened #173 "Digest notifications do not include all new comments"
_This was tested using the Lite version from the dev branch as of 2015-12-10 16:16:05 EST._

## Steps to reproduce this bug

- Install, activate, and enable Comment Mail Lite
- Logout and leave a comment on a post selecting "All Comments/Replies" and "Hourly Digest"
- Leave several additional comments on the same post with different email addresses (i.e., as different commenters)
- Wait for the Ho

[2015-12-11 06:32] kristineds commented on #163
:+1:

[2015-12-12 17:11] jaswsinc commented on #172
:+1: I agree.

[2015-12-12 23:13] raamdev commented on #77
## New Screenshots

As an update to [the screenshots I posted at the top](https://github.com/websharks/comment-mail/issues/77#issue-64154434), here is how things look on the desktop (Gmail) and on mobile (an iPhone 6s) after the changes I committed in #174 (Lite) and https://github.com/websharks/comment-mail-pro/issues/35 (Pro):

### Gmail (desktop)

![2015-12-12_18-08-53](https://cloud.githubuser

[2015-12-12 23:33] raamdev commented on #77
Next Lite Release Changelog:

- **Enhancement**: Many improvements the default email templates. The templates are now fully responsive and look much better on mobile devices. The wording in several places was also cleaned up for clarity and consistency and any references to an ID# (which is generally useless for readers) have been removed. The default templates also use a single font style now ins

[2015-12-12 23:33] raamdev commented on #77
Next Pro Release Changelog:

- **Enhancement**: Many improvements the default email templates. The templates are now fully responsive and look much better on mobile devices. The wording in several places was also cleaned up for clarity and consistency and any references to an ID# (which is generally useless for readers) have been removed. The default templates also use a single font style now inst

[2015-12-12 23:33] #77 closed

[2015-12-12 23:42] raamdev commented on #108
Next Lite Release Changelog:

- **Enhancement**: The manual "Add New Subscription" functionality has been hidden from the front-end of the site (i.e., hidden from the "My Comment Subscriptions" page that subscribers use to manage their subscriptions, and from email templates). Note that this change has no effect on the subscription options that appear on the comment form itself. See discussion in

[2015-12-12 23:42] raamdev commented on #108
Next Pro Release Changelog:

- **Enhancement**: The manual "Add New Subscription" functionality has been hidden from the front-end of the site (i.e., hidden from the "My Comment Subscriptions" page that subscribers use to manage their subscriptions, and from email templates). Note that this change has no effect on the subscription options that appear on the comment form itself. See discussion in [

[2015-12-12 23:45] raamdev commented on #108
@jaswsinc Do you want me to leave this GitHub issue open so that we can revisit this topic at some point in the future? Or do you want me to fork the discussion to another issue?

[2015-12-13 00:37] raamdev commented on #172
Next Lite Release Changelog:

- **Enhancement**: Moved the Import Status box (for importing Subscribe to Comments Reloaded subscriptions) up underneath the "Begin StCR Auto-Importation" button to improve visibility when importing subscriptions. See [Issue #172](https://github.com/websharks/comment-mail/issues/172).

[2015-12-13 00:37] raamdev commented on #172
Next Pro Release Changelog:

- **Enhancement**: Moved the Import Status box (for importing Subscribe to Comments Reloaded subscriptions) up underneath the "Begin StCR Auto-Importation" button to improve visibility when importing subscriptions. See [Issue #172](https://github.com/websharks/comment-mail/issues/172).

[2015-12-13 00:37] #172 closed

[2015-12-13 01:28] raamdev commented on #169
As part of the work on this issue, I also added a note about multiple imports not duplicating data. This is something that's easy to worry about (I've worried myself when trying to make sure that all StCR subscriptions have been imported):

![2015-12-12_20-26-20](https://cloud.githubusercontent.com/assets/53005/11764855/b1a586cc-a10e-11e5-8d39-03ac5c3bb4fa.png)

[2015-12-13 01:32] raamdev commented on #169
Next Lite Release Changelog:

- **Enhancement**: The "Upgrading from Subscribe to Comments Reloaded" notice, which appears when installing Comment Mail on a site running the StCR plugin, is now automatically hidden once you run the StCR import process. See [Issue #169](https://github.com/websharks/comment-mail/issues/169).

[2015-12-13 01:32] raamdev commented on #169
Next Pro Release Changelog:

- **Enhancement**: The "Upgrading from Subscribe to Comments Reloaded" notice, which appears when installing Comment Mail on a site running the StCR plugin, is now automatically hidden once you run the StCR import process. See [Issue #169](https://github.com/websharks/comment-mail/issues/169).

[2015-12-13 01:32] #169 closed

[2015-12-13 02:17] raamdev commented on #164
@KTS915 writes...

I just tested the latest dev branch of Comment Mail and I was unable to reproduce any of the behavior you're describing. When comments are disabled, the Comment Mail form does not appear. Also the latest dev branch has a new option to specify the Post Types that CM should be active on; by default it's only active on `post` Post Types and if you want to see enable Comment Mail on

[2015-12-13 02:17] #164 closed

[2015-12-13 02:46] raamdev opened #177 "Improve the 'Add New Subscription' Feature"
In https://github.com/websharks/comment-mail/issues/108 we disabled exposing the manual "Add New Subscription" functionality from the front-end (from the "My Comment Subscriptions" page and from the footer of the email templates) so that the only way for visitors to subscribe to the comments for a post, or to a specific comment, is for them to visit the post or comment directly.

Note: The "Add Ne

[2015-12-13 02:47] raamdev commented on #108
@jaswsinc I forked this issue to https://github.com/websharks/comment-mail/issues/177.

[2015-12-13 02:47] #108 closed

[2015-12-13 02:50] raamdev opened #178 "Feature Request: One-click Subscribe to Comments"
@jaswsinc writes in https://github.com/websharks/comment-mail/issues/108#issuecomment-161462209...

It would be nice if, for logged-in users, it were possible to one-click subscribe to all comments for a specific post, or to a specific comment.

[2015-12-13 03:36] raamdev commented on #166
I just tested the latest dev branch (as of 2015-12-12 22:08:18 EST) on my personal site, where I have 1126 StCR subscriptions. When I ran the Comment Mail import process, only 930 subscriptions were imported.

I confirmed that all 1126 StCR subscriptions have either an `R` or a `Y` status.

Still investigating...

[2015-12-13 04:20] raamdev commented on #166
So after lots of digging and manually adding logging routines to the `sctr_subs_for_post()` routine in `includes/classes/import-stcr.php`, I confirmed the following:

- Comment Mail is **not** "missing" or "skipping" any valid/active StCR subscriptions during the import

However, there was still the issue of why StCR was reporting 1126 subscriptions (and the database confirmed this number) while C

[2015-12-13 04:23] raamdev commented on #80
Completed the checklist at the top of this issue. Closing (_finally_!). :grinning:

[2015-12-13 04:23] #80 closed

[2015-12-13 14:59] raamdev commented on #166
I was thinking more about this as I fell asleep last night ( :laughing: ) and the mystery now is the actual number of missing subscriptions: StCR reports `1126` but Comment Mail imports `930`; that's a difference of `196` subscriptions!

If I list all of the subscriptions attached to Post IDs that no longer exist in the `wp_posts` table, I end up with only `40` subscriptions, _not_ `196`:

[code]

[2015-12-13 15:19] raamdev commented on #166
I confirmed there is no issue with the `$max_limit` logic in [`unimported_post_ids()](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/import-stcr.php#L345) (temporarily changed the max limit to `1150`; Comment Mail still imports `930` subscriptions).

[2015-12-13 15:24] raamdev commented on #166
Now I suspect that maybe some of the Replies Only StCR subscriptions are associated with comments that no longer exist and perhaps [`sub_comment_ids()` is dropping them](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/import-stcr.php#L327). I need to figure out some SQL to verify that... taking a break for now.

[2015-12-13 23:57] raamdev commented on #166
Narrowing things down some more...

- StCR Subscriptions with `Y` Status: `109`
- Imported StCR subscriptions with `Y` (All Comments) status: `106`

**Difference:** `3`

- StCR Subscriptions with `R` Status: `1017`
- Comment Mail imported subscriptions with `R` (Comment Subscription) Status: `824`

**Difference:** `193`

Of the `40` StCR subscriptions that are associated with Post IDs that no long

[2015-12-14 02:03] raamdev opened #179 "StCR Import Bug: Blacklisted Email Addresses prevent certain subscriptions from being imported"
While researching https://github.com/websharks/comment-mail/issues/166, I discovered that the Comment Mail → Config. Options → Blacklisted Email Addresses (which has a large default list of blacklisted email accounts), affects the StCR import process.

**If a StCR subscription email address matches a Blacklisted Email Address, the import silently excludes that subscription from the import!**

This

[2015-12-14 02:04] raamdev commented on #166
After adding some logging routines to the `includes/classes/import-stcr.php` file, I'm still at a loss for figuring out why those `156` StCR subscriptions are not being imported by Comment Mail, however I _did_ discover a bug that should be addressed; see https://github.com/websharks/comment-mail/issues/179. That bug, sadly, only accounted for a lousy `3` of my missing `156` StCR subscriptions, so

[2015-12-14 02:20] raamdev commented on #166
Given the clue that all of the missing subscriptions are `R` (Replies Only) subscriptions, I'm starting to suspect [these lines](https://github.com/websharks/comment-mail/blob/master/comment-mail/includes/classes/import-stcr.php#L287-L291).

Still investigating...

[2015-12-14 04:02] raamdev commented on #166
Well, after lots of logging and testing and wrapping my head around the various scenarios that [these lines](https://github.com/websharks/comment-mail/blob/master/comment-mail/includes/classes/import-stcr.php#L287-L291) are exposed to, I've sadly only found an additional `6` skipped subscriptions.

My feeling is that there might be more to those lines and that I'm missing something, but I'm headin

[2015-12-14 14:28] jaswsinc commented on #179
I agree. Although, I think it would be nice to have an option during import. Role-based emails like `admin@` are normally filtered by default in most mass-email systems, because it protects the integrity of whatever mail server is in use; e.g., http://blog.mailchimp.com/role-addresses-are-not-people/

So for instance, while you might feel it's a bug, another person might see this as a feature. So

[2015-12-14 14:30] raamdev commented on #179
If it's made an option and disabled by default, that's fine with me. :-)

[2015-12-14 14:33] raamdev commented on #166
I just added a counter to [this line](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/import-stcr.php#L167-L168) to see how many `$stcr_subs` Comment Mail is processing and it _is_ going through the same number as reported by StCR (minus the 40 subscriptions from Posts that no longer exist).

So that means there's _something_ going on in `maybe_import_sub()`

[2015-12-14 14:46] raamdev commented on #166
I've committed my work so far on improving failure logging and reporting of skipped subscriptions: https://github.com/websharks/comment-mail/pull/180

Still a work in progress and there are various things that need to be cleaned up (e.g., make log messages translatable strings), but I wanted to share my work so far since I feel these improvements should go into a release of Comment Mail to help si

[2015-12-14 15:19] jaswsinc commented on #166
Nice!

[2015-12-14 15:55] raamdev commented on #166
### I've **finally** narrowed things down!

_(Thanks for the [idea](https://websharks.slack.com/archives/comment-mail/p1450103712000043) @jaswsinc.)_

It looks like if the Post ID or Comment no longer exists, [`sub_comment_ids()`](https://github.com/websharks/comment-mail/blob/000000-dev/comment-mail/includes/classes/import-stcr.php#L306-L334) returns an empty array [to this line](https://github.c

[2015-12-14 17:08] jaswsinc commented on #172
Nice!

[2015-12-14 18:51] Reedyseth commented on #166
As for my local test the email address should work, they are not mark as spam. I will also spend more time on this because last time I run my test only 1 post with subscriptions was imported, mainly, the last post with its comments.

[2015-12-15 00:33] raamdev commented on #166
@Reedyseth writes...

Is that with the database of data you linked to [here](https://github.com/websharks/comment-mail/issues/166#issuecomment-163362008)? If you have a small set of data that you're able to reproduce a bug with, that would make figuring this out a LOT easier... I'm trying to debug with 1126 StCR subscriptions, which makes things a lot more difficult. ;)

[2015-12-15 00:39] Reedyseth commented on #166
Yes, I would like to reproduce the steps by showing you how, maybe a skype call to share my screen will help to narrow this down.

[2015-12-15 00:44] raamdev commented on #166
@Reedyseth If you're reproducing this on a test site and you don't mind doing a full MySQL dump of your WordPress database (everything: all posts, content, settings, etc.), then I can just create a local test site using the exact same database and attempt to reproduce what you're seeing.

[2015-12-15 15:35] jaswsinc commented on #80
:+1: Yay!

[2015-12-15 15:40] jaswsinc commented on #77
:+1: :+1: :+1: :+1: :+1: :+1:

[2015-12-15 15:47] raamdev opened #181 "Restore Default Options doesn't restore default options"
Testing the dev branch (as of 2015-12-15) of Comment Mail Pro, clicking "Restore Default Options" doesn't actually restore any default options. You can test this by enabling the plugin or disabling data safeguards, saving options, and then clicking "Restore Default Options". The defaults (Comment Mail disabled, Data Safeguards enabled) should be restored, but they are not.

[2015-12-15 15:49] raamdev commented on #181
This probably also affects Comment Mail Lite, but I haven't confirmed yet.

[2015-12-15 15:52] jaswsinc commented on #181
Try changing [this line](https://github.com/websharks/comment-mail-pro/blob/000000-dev/comment-mail-pro/includes/classes/utils-url.php#L584). Instead of `'1'` use:

[code]

_I think this is a browser caching quirk. The redirection is getting cached._

[2015-12-15 15:53] raamdev commented on #181
I think you're right. I realized I was testing on my personal site, where there are quite a few plugins. I just tested on my clean install and the Restore Defaults works fine.

[2015-12-15 15:59] raamdev commented on #181
Confirmed. This fixes the issue.

[2015-12-15 16:00] Reedyseth commented on #166
@raamdev I just email you the MySQL dump.

[2015-12-15 16:00] raamdev commented on #181
@renzms Could you submit a PR for me? For both Pro and Lite.

[2015-12-15 16:00] raamdev commented on #166
@Reedyseth Thank you!

[2015-12-15 16:16] raamdev opened #182 "StCR Import: Comments that are "Awaiting Approval" are not imported"
The StCR Importer only imports Replies Only (`R`) subscriptions for comments that are approved (see [this line](https://github.com/websharks/comment-mail/blob/150709/comment-mail/includes/classes/import-stcr.php#L319)). However, that introduces a small problem:

What if the site owner is switching to Comment Mail and doing the StCR → Comment Mail migration while they have several (valid) comments

[2015-12-15 16:25] jaswsinc commented on #182
Great observation. Thinking.... :thought_balloon:

[2015-12-15 16:54] renzms commented on #181
@raamdev PRs submitted!

[2015-12-15 17:13] jaswsinc commented on #182
This is undocumented, but the last time I checked (i.e., whenever I built CM originally), comment statuses in WP can be any of following. Lots of crazy variations in the WP core going back one version to the next.

[code]

I don't have any objection to the behavior being changed. You know the existing StCR user base better than I do, so I think whatever you'd like is fine. I would just caution tha

[2015-12-16 04:04] raamdev commented on #166
I spent some more time working on this today and it looks like there may be more weirdness going on than I thought.

When I added a conditional above [this line](https://github.com/websharks/comment-mail-pro/blob/150709/comment-mail-pro/includes/classes/import-stcr.php#L202) to see `if (empty($_sub_comment_ids = sub_comment_ids()))`, and logged the result, I found that 249 subscriptions were being

[2015-12-16 14:18] raamdev commented on #182
@jaswsinc writes...

Ah, thanks! I did not realize that there were so many possibilities.

I agree that keeping `trash`, `post-trashed`, `spam`, and `delete` out makes sense, so that means we should just be able to update the SQL query from this:

[code]

to this, right?

[code]

[2015-12-16 14:21] jaswsinc commented on #182
Yes. That looks right to me also.

[2015-12-16 15:45] Reedyseth commented on #166
Alright I'll track of the issue as well.

I would be much better since there are 39 StCR subscriptions.

[2015-12-16 19:36] raamdev commented on #166
I was not able to reproduce any issues with the import count using @Reedyseth's MySQL dump; there are 39 StCR subscriptions and 38 of them were imported (one subscription failed the import with `Invalid Email Address (wp_postmeta.meta_id = 49): kolagmail.com`).

So, it's back to using my 1126 StCR subscriptions for testing. :(

[2015-12-16 19:50] jaswsinc commented on #166
I'm not sure if it will help or not, but I'll just mention it...

Remember that when a subscriber has an `R` status in StCR, Comment Mail is importing a new "subscription" for each Comment ID that they authored.

So it's possible that some commenters didn't subscribe (in StCR) to all of the comments they authored, only to some of them. That's handled in a special way during importation.

In Commen

[2015-12-16 20:04] raamdev commented on #166
Ugh, that explains a lot. Thank you.

That fact was in my face last night when I was looking at `sub_comment_ids()` and I was trying to wrap my head around how the `foreach` loop that goes through all the comments for that user is ever going to match with the number of StCR subscriptions in the database! What you just said confirms what my brain was trying to tell me. :grin:

---

So, basically, w

[2015-12-16 20:08] raamdev commented on #166
Hmm, that gives me an idea... Comment Mail could simply count how many subscriptions for each email address _for each_ Post ID were imported... that should match the number of StCR subscriptions! (Minus any that failed to import for valid reasons.)

[2015-12-16 20:11] raamdev commented on #166
To prove this, see [this line in StCR](https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/subscribe-to-comments-reloaded.php#L854) that only creates a new subscription if the user does not already have a subscription for the given Post ID (`comment_post_ID`).

[2015-12-16 20:15] jaswsinc commented on #166
I like that idea. Sounds like it could avoid some confusion. The only problem is, while the immediate response they get from the importer would be easier on the brain; if they visit the list of Subscriptions in Comment Mail the numbers there will not match with what they were told by the importer.

[2015-12-16 20:15] raamdev commented on #166
As an aside: That StCR's limitation of not tracking the specific Comment ID associated with a subscription was actually what led me to working on StCR in the first place. The "Replies Only" functionality was completely broken and I discovered the lack of tracking a Comment Mail ID was the main problem, which I fixed in [this commit](https://github.com/raamdev/wp-comment-subscriptions/commit/c216b6

[2015-12-16 20:19] jaswsinc commented on #166
Ah. Good to know.
Yep, I can totally sympathize with that.
We all do the best with what we have sometimes.

---

In the s2Member project I have code in there I wrote 6 years ago. A lot has changed in the last few years, including my own skill level as a programmer. Ugh... working on old codebases is not fun at all.

[2015-12-16 20:19] raamdev commented on #166
I agree. The problem right now is that the numbers being reported are confusing, no matter how you look at it. We need to do a few things to fix this:

- Track how many StCR subscriptions were _actually_ imported
- Track how many failed
- Have a log of why the failed imports failed
- Explain why Comment Mail creates more subscriptions than StCR has in its database

The first two on that list are w

[2015-12-16 20:24] jaswsinc commented on #166
:+1:

[2015-12-16 21:03] raamdev commented on #166
Wooooooohooooooooo! Numbers that actually make logical sense!!!

_Note: StCR has `1129` subscriptions that are being imported below._

![2015-12-16_15-57-21](https://cloud.githubusercontent.com/assets/53005/11853737/c47fe0b0-a40d-11e5-895e-fe1f0875f445.png)

(The `252 skipped` number is not 100% accurate--it's missing `43` subscriptions--however, for once, I can actually account for those: `40` of

[2015-12-16 21:08] Reedyseth commented on #166
Yeap, actually that fix one big issue on StCR, and the guys from Postmatic wanted that logic also for they importing routine.

[2015-12-16 23:43] Reedyseth commented on #166
Can you point me where is your dev branch so that I can test this as well?

[2015-12-17 00:22] raamdev commented on #166
@Reedyseth I referenced the PRs earlier: https://github.com/websharks/comment-mail/issues/166#ref-commit-e46ed06

[2015-12-17 00:43] raamdev commented on #181
Next Lite Release Changelog:

- **Bug Fix**: Fixed a bug with "Restore Default Options" that was introducing a browser quirk that was preventing the default options from being restored. Props @renzms. See [Issue #181](https://github.com/websharks/comment-mail/issues/181).

[2015-12-17 00:43] raamdev commented on #181
Next Pro Release Changelog:

- **Bug Fix**: Fixed a bug with "Restore Default Options" that was introducing a browser quirk that was preventing the default options from being restored. Props @renzms. See [Issue #181](https://github.com/websharks/comment-mail/issues/181).

[2015-12-17 00:43] #181 closed

[2015-12-17 00:49] raamdev commented on #182
Next Lite Release Changelog:

- **Bug Fix**: Fixed a bug with the StCR Import routine that was preventing subscriptions for comments awaiting approval from being imported. See [Issue #182](https://github.com/websharks/comment-mail/issues/182).

[2015-12-17 00:49] raamdev commented on #182
Next Pro Release Changelog:

- **Bug Fix**: Fixed a bug with the StCR Import routine that was preventing subscriptions for comments awaiting approval from being imported. See [Issue #182](https://github.com/websharks/comment-mail/issues/182).

[2015-12-17 00:49] #182 closed

[2015-12-17 00:55] Reedyseth commented on #166
Thanks you :+1:

[2015-12-17 03:12] raamdev commented on #166
Ugh, well, I'm ALMOST there, quite literally 99.74% of the way there!!

With `1126` StCR subscriptions, Comment Mail now (as of my last commit: https://github.com/websharks/comment-mail/commit/5b99972d81afc0ab9e6ff93f56a12c0c1f494d8b) reports `831` imported and `292` skipped, which totals `1123` StCR subscriptions... so I'm missing `3`, somehow (and those are _not_ the 3 that are blacklisted; I tr

[2015-12-17 14:34] raamdev commented on #166
Found it! [These lines](https://github.com/websharks/comment-mail/blob/150709/comment-mail/includes/classes/import-stcr.php#L287-L291) are giving precedence to `R` subscriptions _and overwriting `6` StCR subscriptions with a `Y` status!_

The crazy thing is that I was looking for `3` missing subscriptions when it was really `6`, and I only thought it was `3` because the `3` blacklisted subscriptio

[2015-12-17 14:39] jaswsinc commented on #166
aha! That sounds like a good explanation to me.

[2015-12-17 15:49] raamdev commented on #166
![2015-12-17_10-00-41](https://cloud.githubusercontent.com/assets/53005/11872804/43d20a54-a4a5-11e5-834b-62e3983e5dc4.png)

**I got it! FINALLY!** All skipped StCR subscriptions fully accounted for:

- StCR Subscriptions Skipped via Blacklisted Email Addresses
- StCR Subscriptions Skipped via missing Post IDs
- StCR Subscriptions Skipped via missing or deleted/trashed/spammed comment
- StCR Subscr

[2015-12-17 16:04] jaswsinc commented on #166
@raamdev Woohoo! That looks great. I'll review the PR shortly.

[2015-12-17 17:33] Reedyseth commented on #166
@raamdev I don't want to add more variants to the issue, I just pulled the branch feature/166 and tested it and my result was that I got no subscription imported at all. Take my comment only as a warning but it is what I just experience.

![image](https://cloud.githubusercontent.com/assets/1228711/11876942/82ee22aa-a4a9-11e5-8614-3bd388ac0f4b.png)

[2015-12-17 19:54] jaswsinc commented on #166
@Reedyseth Can you try the following please?

- Click the "Restore Default Options" button in Comment.
- Try running the import again.

Any different result?

[2015-12-17 23:05] Reedyseth commented on #166
That worked ! Huurrayy !

![image](https://cloud.githubusercontent.com/assets/1228711/11884527/a427761e-a4d7-11e5-90f0-31d63ac90b30.png)

[2015-12-18 02:45] raamdev commented on #166
Next Lite Release Changelog:

- **Bug Fix**: StCR Importer: Fixed a bug in how the Subscribe to Comments Reloaded Import routine counts imported subscriptions. Comment Mail was previously reporting the number of subscriptions that it created during the import as the total number imported, however due to a difference in how Comment Mail and StCR store subscriptions, the total number of StCR subscri

[2015-12-18 02:46] raamdev commented on #166
Next Pro Release Changelog:

- **Bug Fix**: StCR Importer: Fixed a bug in how the Subscribe to Comments Reloaded Import routine counts imported subscriptions. Comment Mail was previously reporting the number of subscriptions that it created during the import as the total number imported, however due to a difference in how Comment Mail and StCR store subscriptions, the total number of StCR subscrip